{
  "plugins": ["stylelint-declaration-use-variable"],
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    "declaration-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "declaration-no-important": true,
    "max-nesting-depth": 1,
    "scss/at-function-pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
    "scss/at-mixin-pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
    "scss/dollar-variable-pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
    "scss/no-duplicate-dollar-variables": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "selector-class-pattern": [
      "^([A-Z][a-zA-Z0-9]+(__[a-z][a-zA-Z0-9]+)?(--[a-z][a-zA-Z0-9]+)*|u-[a-z][a-zA-Z0-9]+)$",
      {
        "resolveNestedSelectors": true
      }
    ],
    "selector-max-compound-selectors": 1,
    "selector-max-id": 0,
    "selector-no-qualifying-type": true,
    "sh-waqar/declaration-use-variable": [
      [
        "/color/",
        {
          "ignoreValues": [
            "currentcolor",
            "inherit",
            "initial",
            "transparent",
            "unset"
          ]
        }
      ]
    ],
    "string-quotes": "double",
    "value-list-comma-newline-after": null
  }
}
