@import "../../theme/vars.scss";
@import "../../theme/mixins.scss";

.footer {
    border-top: 10px solid $black;
    padding: 2rem 0;

    .title {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    a {
        display: block;
        font-family: $font-family-monospace;
        color: $black;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .logo {
        width: 100%;
        max-width: 150px;
    }
    .copyright {
        display: block;
        font-family: $font-family-monospace;
        color: $black;
    }
}
