---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1JPZxQ2HalBiqJUi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1JPZxQ2HalBiqJUi
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1JPZxQ2HalBiqJUi",
          "object": "account",
          "business_logo": null,
          "business_logo_large": null,
          "business_name": null,
          "business_primary_color": null,
          "business_url": "https://kittehrock.com",
          "capabilities": {
            "card_payments": "pending",
            "platform_payments": "pending"
          },
          "charges_enabled": false,
          "country": "US",
          "created": 1629236190,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": true,
          "display_name": "Kittehrock",
          "email": "hello@kittehrock.com",
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1JPZxQ2HalBiqJUimMvDMoaG",
                "object": "bank_account",
                "account": "acct_1JPZxQ2HalBiqJUi",
                "account_holder_name": null,
                "account_holder_type": null,
                "account_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "YfeSB0bP0Ixe6zBJ",
                "last4": "6789",
                "metadata": {
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1JPZxQ2HalBiqJUi/external_accounts"
          },
          "legal_entity": {
            "additional_owners": [

            ],
            "address": {
              "city": "Washington",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "20500",
              "state": "DC"
            },
            "business_name": null,
            "business_tax_id_provided": false,
            "directors_provided": true,
            "dob": {
              "day": 1,
              "month": 1,
              "year": 1900
            },
            "executives_provided": true,
            "first_name": "Kitteh",
            "gender": "female",
            "last_name": "Rock",
            "owners_provided": true,
            "personal_address": {
              "city": "Washington",
              "country": "US",
              "line1": "address_full_match",
              "line2": null,
              "postal_code": "20500",
              "state": "DC"
            },
            "personal_email": "Kitteh.Rock@ampled.com",
            "personal_id_number_provided": true,
            "personal_phone_number": "+10000000000",
            "phone_number": "+10000000000",
            "ssn_last_4_provided": true,
            "type": "individual",
            "verification": {
              "additional_document": null,
              "additional_document_back": null,
              "details": null,
              "details_code": null,
              "document": "file_1JPZxQCNj1cfz4PU2CfMpvz5",
              "document_back": null,
              "status": "verified"
            }
          },
          "mcc": "5045",
          "metadata": {
          },
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "KITTEHROCK.COM",
          "statement_descriptor_kana": null,
          "statement_descriptor_kanji": null,
          "support_address": null,
          "support_email": null,
          "support_phone": null,
          "support_url": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1547923073,
            "ip": "1.1.1.1",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": "fields_needed",
            "due_by": null,
            "errors": [

            ],
            "fields_needed": [

            ],
            "pending_verification": [
              "legal_entity.personal_id_number"
            ]
          }
        }
  recorded_at: Tue, 17 Aug 2021 21:36:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1JPZyA2E0UWR1mRN
    body:
      encoding: UTF-8
      string: settings[payouts][schedule][interval]=monthly&settings[payouts][schedule][monthly_anchor]=31
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      S[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1JPa092E1nW4UTgd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1JPa092E1nW4UTgd
      Stripe-Version:
      - '2019-02-11'
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1JPa1q2HLUSnmrAi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1JPa1q2HLUSnmrAi
      Stripe-Version:
      - '2019-02-11'
[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=US&email=hello%40kittehrock.com&capabilities[card_payments][requested]=true&capabilities[transfers][requested]=true&business_type=individual&business_profile[url]=https%3A%2F%2Fkittehrock.com&business_profile[mcc]=5045&tos_acceptance[date]=1547923073&tos_acceptance[ip]=1.1.1.1&external_account[object]=bank_account&external_account[country]=US&external_account[[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service&statement_descriptor=KittehR
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1JPa3X2HTrsuyGzV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1JPa3X2HTrsuyGzV
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_K3hSxb3KKJM5lH",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1629236570,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "KittehR",
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1629236570,
          "url": null
        }
  recorded_at: Tue, 17 Aug 2021 21:42:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1JPa3X2HTrsuyGzV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1JPa3X2HTrsuyGzV
      Stripe-Version:
      - '2019-02-11'
[...]
[...]
