---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Test+customer&source=tok_visa_debit
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J9z4VhlHpSnWQa",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1616386266,
          "currency": null,
          "default_source": "card_1IXf6cCNj1cfz4PUmUndPfdt",
          "delinquent": false,
          "description": "Test customer",
          "discount": null,
          "email": null,
          "invoice_prefix": "C5FC22A9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1IXf6cCNj1cfz4PUmUndPfdt",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_J9z4VhlHpSnWQa",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2022,
                "fingerprint": "xbttngdMsEUpSUHm",
                "funding": "debit",
                "last4": "5556",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_J9z4VhlHpSnWQa/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_J9z4VhlHpSnWQa/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_J9z4VhlHpSnWQa/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 22 Mar 2021 04:11:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J9z4VhlHpSnWQa
    body:
      encoding: UTF-8
      string: source=tok_kittehcard
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such token: 'tok_kittehcard'",
            "param": "source",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 22 Mar 2021 04:11:07 GMT
recorded_with: VCR 4.0.0
