---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wGl0v2HgXpEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wGl0v2HgXpEK",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101312,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101312,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:08:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wGuiZMgfbcZF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_F0wGuiZMgfbcZF",
          "object": "subscription",
          "application_fee_percent": 15.0,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1557101315,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1557101315,
          "current_period_end": 1559779715,
          "current_period_start": 1557101315,
          "customer": "cus_F0wGYr8VpVMDCS",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_F0wGeLNsTk1VAr",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1557101315,
                "metadata": {
                },
                "plan": {
                  "id": "plan_F0wGqLlTku71J8",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 10000,
                  "billing_scheme": "per_unit",
                  "created": 1557101313,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support $5",
                  "product": "prod_F0wGl0v2HgXpEK",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_F0wGuiZMgfbcZF",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_F0wGuiZMgfbcZF"
          },
          "latest_invoice": "in_1EWuNjGrdnhANdIVunl4C775",
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "plan_F0wGqLlTku71J8",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 10000,
            "billing_scheme": "per_unit",
            "created": 1557101313,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Ampled Support $5",
            "product": "prod_F0wGl0v2HgXpEK",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1557101315,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 06 May 2019 00:08:38 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wJMAsBrrfeBw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wJMAsBrrfeBw",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101481,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101481,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:11:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wJ54t3Od88Qd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wJNQMwg1Nz5t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_F0wJNQMwg1Nz5t",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "created": 1557101489,
          "currency": "usd",
          "default_source": "card_1EWuQXGrdnhANdIVRAfs8T9t",
          "delinquent": false,
          "description": "chadwickfeeney@miller.name for ",
          "discount": null,
          "email": null,
          "invoice_prefix": "E1B20AF3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1EWuQXGrdnhANdIVRAfs8T9t",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "92928",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_F0wJNQMwg1Nz5t",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "c7AvuxS6jv5p8NBJ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_F0wJNQMwg1Nz5t/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_F0wJNdgNRyEig4",
                "object": "subscription",
                "application_fee_percent": 15.0,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1557101490,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wUq2IWQFNhhJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wUq2IWQFNhhJ",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102166,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102166,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:22:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wUkuy69dezwl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wU6dDgxmu06o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wYOljar14fRy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wYOljar14fRy",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102392,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102392,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:26:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wYcX3EepVIUg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wYX4O6U8mo3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wZL2xok3K47C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wZL2xok3K47C",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102495,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102495,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:28:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wZ9iARq3588K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wacTtnEb6VGT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3EAKosqIMpGM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3EAKosqIMpGM",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969017,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969017,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:36:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_FZ3EjVWppgAwba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_FZ3EjVWppgAwba",
          "object": "subscription",
          "application_fee_percent": 15.0,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1564969018,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1564969018,
          "current_period_end": 1567647418,
          "current_period_start": 1564969018,
          "customer": "cus_FZ3Ert7rR2rL8A",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3EoSTFO9FrAX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FZ3EoSTFO9FrAX",
          "object": "customer",
          "account_balance": 31,
          "address": null,
          "balance": 31,
          "created": 1564969021,
          "currency": "usd",
          "default_source": "card_1F3v8DGrdnhANdIVSJNqW9FZ",
          "delinquent": false,
          "description": "nealtorp@parisian.co for ",
          "discount": null,
          "email": null,
          "invoice_prefix": "7069194B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "met[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3X1T5FKPAUgY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3X1T5FKPAUgY",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970128,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970128,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:55:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_FZ3Xf3ASXidrjZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3XvKmSSwS24C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv7zkrkDa14S4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv7zkrkDa14S4",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575086975,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575086975,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:09:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGvBu8M9Ig1v0A",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087202,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087202,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGvBu8M9Ig1v0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGvBu8M9Ig1v0A",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087202,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087202,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_GGvBu8M9Ig1v0A&nickname=Ampled+Support+%245&interval=month&currency=usd&amount=10330
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_GGvBr5usk3DLRj",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 10330,
          "amount_decimal": "10330",
          "billing_scheme": "per_unit",
          "created": 1575087202,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support $5",
          "product": "prod_GGvBu8M9Ig1v0A",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Sat, 30 Nov 2019 04:13:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_FfMNyx9ktbGwnx
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FkNKhKB00tmjmIIbouyqCRz",
          "object": "token",
          "card": {
            "id": "card_1FkNKgKB00tmjmIIG2pxFO8R",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2022,
            "fingerprint": "E6Pd3bfp00SpSfRI",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "96.232.200.190",
          "created": 1575087203,
          "livemode": false,
          "type": "card",
[...]
