---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wGj3IUSvBQAg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wGj3IUSvBQAg",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101304,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101304,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:08:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wGVceMW8QRmq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_F0wGVceMW8QRmq",
          "object": "subscription",
          "application_fee_percent": 15.0,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1557101307,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1557101307,
          "current_period_end": 1559779707,
          "current_period_start": 1557101307,
          "customer": "cus_F0wGdeOHNyllrc",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_F0wGCRW5ht9fJE",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1557101308,
                "metadata": {
                },
                "plan": {
                  "id": "plan_F0wGiKviJb78Du",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 10000,
                  "billing_scheme": "per_unit",
                  "created": 1557101305,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support $5",
                  "product": "prod_F0wGj3IUSvBQAg",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_F0wGVceMW8QRmq",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_F0wGVceMW8QRmq"
          },
          "latest_invoice": "in_1EWuNbGrdnhANdIVlGbnR0Zq",
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "plan_F0wGiKviJb78Du",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 10000,
            "billing_scheme": "per_unit",
            "created": 1557101305,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Ampled Support $5",
            "product": "prod_F0wGj3IUSvBQAg",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1557101307,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 06 May 2019 00:08:31 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wIESV70HRfez
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wIESV70HRfez",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101459,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101459,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:11:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wIc3bTHTuTp2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wU4y2THLDAJF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wU4y2THLDAJF",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102155,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102155,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:22:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wUL1QiwREE13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wYFE8i8iRD10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wYFE8i8iRD10",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102403,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102403,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:26:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wYe9OghI9C02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0waa3HvPWbjCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0waa3HvPWbjCO",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102507,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102507,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:28:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0waAyQRXHmeBh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3EfEQjK3LXlN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3EfEQjK3LXlN",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969024,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969024,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:37:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_FZ3ETdOmSbY7y3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_FZ3ETdOmSbY7y3",
          "object": "subscription",
          "application_fee_percent": 15.0,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1564969026,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1564969026,
          "current_period_end": 1567647426,
          "current_period_start": 1564969026,
          "customer": "cus_FZ3EEQ0QA2P2zM",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3WUi7vyew7h6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3WUi7vyew7h6",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970111,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970111,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:55:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_FZ3WKwy5PnFAn9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv7qgd15aUoua
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv7qgd15aUoua",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575086976,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575086976,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:09:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGvAfhMC1mqzwu",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087180,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087180,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGvAfhMC1mqzwu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGvAfhMC1mqzwu",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087180,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087180,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_GGvAfhMC1mqzwu&nickname=Ampled+Support+%245&interval=month&currency=usd&amount=10330
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_GGvAZwBHGdFtqZ",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 10330,
          "amount_decimal": "10330",
          "billing_scheme": "per_unit",
          "created": 1575087181,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support $5",
          "product": "prod_GGvAfhMC1mqzwu",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Sat, 30 Nov 2019 04:13:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_FfMNyx9ktbGwnx
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FkNKMKB00tmjmIITls9M2hb",
          "object": "token",
          "card": {
            "id": "card_1FkNKLKB00tmjmII72XAe9v0",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2022,
            "fingerprint": "E6Pd3bfp00SpSfRI",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "96.232.200.190",
          "created": 1575087182,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 30 Nov 2019 04:13:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=winifred%40pagac.net+for+Yes&source=tok_1FkNKMKB00tmjmIITls9M2hb
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_GGvAdlH4ZVVa3o",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1575087182,
          "currency": null,
          "default_source": "card_1FkNKLKB00tmjmII72XAe9v0",
          "delinquent": false,
          "description": "winifred@pagac.net for Yes",
          "discount": null,
          "email": null,
          "invoice_prefix": "3CD02B80",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1FkNKLKB00tmjmII72XAe9v0",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_GGvAdlH4ZVVa3o",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2022,
                "fingerprint": "E6Pd3bfp00SpSfRI",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_GGvAdlH4ZVVa3o/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_GGvAdlH4ZVVa3o/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_GGvAdlH4ZVVa3o/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_GGvAdlH4ZVVa3o&plan=plan_GGvAZwBHGdFtqZ&expand[0]=latest_invoice.payment_intent&application_fee_percent=13.24
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FfMNyx9ktbGwnx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_GGvA17GTemPCjx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_GGvA17GTemPCjx",
          "object": "subscription",
          "application_fee_percent": 13.24,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1575087182,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1575087182,
          "current_period_end": 1577679182,
          "current_period_start": 1575087182,
          "customer": "cus_GGvAdlH4ZVVa3o",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_GGvAhTceY8oEFp",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1575087183,
                "metadata": {
                },
                "plan": {
                  "id": "plan_GGvAZwBHGdFtqZ",
                  "object": "plan",
                  "active": true,
                  "aggregat[...]
[...]
