---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wFjFvkuWUS1x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wFjFvkuWUS1x",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101297,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101297,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:08:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wGCLGVyz5HCe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_F0wGCLGVyz5HCe",
          "object": "subscription",
          "application_fee_percent": 15.0,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1557101300,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1557101300,
          "current_period_end": 1559779700,
          "current_period_start": 1557101300,
          "customer": "cus_F0wFb87YeGhAr9",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_F0wGLas43vMKJI",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1557101300,
                "metadata": {
                },
                "plan": {
                  "id": "plan_F0wFGLSuGsRihc",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 10000,
                  "billing_scheme": "per_unit",
                  "created": 1557101298,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support $5",
                  "product": "prod_F0wFjFvkuWUS1x",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_F0wGCLGVyz5HCe",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_F0wGCLGVyz5HCe"
          },
          "latest_invoice": "in_1EWuNUGrdnhANdIVbyaAs5y2",
          "livemode": false,
          "metadata": {
          },
          "plan": {
            "id": "plan_F0wFGLSuGsRihc",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 10000,
            "billing_scheme": "per_unit",
            "created": 1557101298,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Ampled Support $5",
            "product": "prod_F0wFjFvkuWUS1x",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1557101300,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 06 May 2019 00:08:23 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wIxpVjSZuYvz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wIxpVjSZuYvz",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101469,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101469,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:11:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wILgvCttVdnO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wUDVYxNx0Dda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wUDVYxNx0Dda",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102145,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102145,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:22:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wUkTVqgivCag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wY7hJ8OZfS4f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wY7hJ8OZfS4f",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102381,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102381,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:26:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0wYMccPVmKxY5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wadAxkOJXqCJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wadAxkOJXqCJ",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102517,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102517,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:28:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_F0waZzyM4nJ1eL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3EvQk4pnq10w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3EvQk4pnq10w",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969031,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969031,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:37:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_FZ3EASQ9mrr0cF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_FZ3EASQ9mrr0cF",
          "object": "subscription",
          "application_fee_percent": 15.0,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1564969033,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1564969033,
          "current_period_end": 1567647433,
          "current_period_start": 1564969033,
          "customer": "cus_FZ3EUkHl1YILIX",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3XdTpFRw1K2w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3XdTpFRw1K2w",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970120,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970120,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:55:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_FZ3XgvF4Bu7H56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - a[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv7mYdJwjnt7T
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv7mYdJwjnt7T",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575086974,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575086974,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:09:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGvAOMR9wz2wwX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGvAOMR9wz2wwX",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087192,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087192,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_GGvA7KySZvnJF8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_GGvA7KySZvnJF8",
          "object": "subscription",
          "application_fee_percent": 13.24,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1575087194,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1575087194,
          "current_period_end": 1577679194,
          "current_period_start": 1575087194,
          "customer": "cus_GGvAN9cxoqlLzU",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_GGvAoVEePcQp4f",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1575087194,
                "metadata": {
                },
                "plan": {
                  "id": "plan_GGvASAlYHO4B0j",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 10330,
                  "amount_decimal": "10330",
                  "billing_scheme": "per_unit",
                  "created": 1575087193,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support $5",
                  "product": "prod_GGvAOMR9wz2wwX",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_GGvA7KySZvnJF8",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_GGvA7KySZvnJF8"
          },
          "latest_invoice": "in_1FkNKYKB00tmjmIIFv9eMRyZ",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "plan": {
            "id": "plan_GGvASAlYHO4B0j",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 10330,
            "amount_decimal": "10330",
            "billing_scheme": "per_unit",
            "created": 1575087193,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Ampled Support $5",
            "product": "prod_GGvAOMR9wz2wwX",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1575087194,
          "start_date": 1575087194,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sat, 30 Nov 2019 04:13:17 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service&statement_descriptor=Queen
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GRLgWb4yRGsPTG",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1577492212,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "Queen",
          "type": "service",
          "unit_label": null,
          "updated": 1577492212,
          "url": null
        }
  recorded_at: Sat, 28 Dec 2019 00:16:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GRLgWb4yRGsPTG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GRLgWb4yRGsPTG",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1577492212,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "Queen",
          "type": "service",
          "unit_label": null,
          "updated": 1577492212,
          "url": null
        }
  recorded_at: Sat, 28 Dec 2019 00:16:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_GRLgWb4yRGsPTG&nickname=Ampled+Support+%245&interval=month&currency=usd&amount=10330
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_GRLgMlHVLRYeJq",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 10330,
          "amount_decimal": "10330",
          "billing_scheme": "per_unit",
          "created": 1577492213,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support $5",
          "product": "prod_GRLgWb4yRGsPTG",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Sat, 28 Dec 2019 00:16:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_FfMNyx9ktbGwnx
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FuSzBKB00tmjmIIqRLLWBFv",
          "object": "token",
          "card": {
            "id": "card_1FuSzBKB00tmjmIIFx9plOww",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2022,
            "fingerprint": "E6Pd3bfp00SpSfRI",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "96.232.200.190",
          "created": 1577492213,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 28 Dec 2019 00:16:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=rickie%40treutel.name+for+Queen&source=tok_1FuSzBKB00tmjmIIqRLLWBFv
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_GRLg7hVlAP3x7t",
[...]
