@import "../../../../theme/vars.scss";
@import "../../../../theme/mixins.scss";

.post {
  max-width: 500px;
  margin: auto;
  &.clickable-post {
    cursor: pointer;
  }
  
  &__header {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .blur-image {
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
    }

    svg {
      font-size: 80px;
      position: absolute;
      align-self: center;
      margin-top: 8rem;
      color: $white;
    }
  }

  &__title {
    font-family: $font-family-monospace;
    font-size: 1.2rem;
    padding: 1rem;
  }
  &__body {
    font-family: $font-family-monospace;
    font-size: .8rem;
    line-height: 1.1rem;
    padding: 0 1rem 1rem;
  }

  .private-support {
    width: 100%;
    position: absolute;
    bottom: 60px;
    
    &__copy {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      background: url(../../../../images/lock_icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 54px 0 0;
      font-size: 14px;
      height: 100px;
    }  

    &__btn {
      display: flex;
      justify-content: center;
      margin: 1rem 0;

      svg {
        margin-right: 0.5rem;
      }

      button {
        width: 240px;
        text-transform: capitalize;
      }
    }
  }

  .comments-list {
    background-color: $gray-lightest;
    padding: 20px;
    margin-bottom: 50px;
    color: $black;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &:empty {
      display: none;
    }

    &__header {
      text-transform: uppercase;
      font-family: $font-family-monospace;
      font-size: .9rem;
    }

    .sendCommentIcon {
      button {
        outline: none;
      }
    }

    .collapse-actions {
      justify-content: center;

      .show-previous-command-btn {
        font-family: $font-family-monospace;
        text-transform: uppercase;
        width: 100%;
        cursor: pointer;
        font-size: 12px;
        height: 30px;
        width: 200px;
        align-self: center;
        justify-self: center;
        border: 0;
        text-decoration: underline;
        outline: none;
        background-color: transparent;
        transition: all $speed;
      }

      .show-previous-command-btn:hover {
        transition: all $speed;
        transform: rotate(-2deg);
        color: $black;
        font-size: 13px;
        outline: none;
      }
    }

    .comment-input {
      background-color: $white;
      padding: 10px;
      border-radius: 20px;
      margin-top: 10px;
    }
  }
}

.private-post-modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  p {
    margin: 2rem;
  }

  button {
    width: 50px;
    align-self: flex-end;
  }
}
