@import '../../../../theme/vars.scss';
@import '../../../../theme/mixins.scss';

.post {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  &.clickable-post {
    cursor: pointer;
  }

  &:hover {
    .post__change {
      opacity: 1;
    }
  }

  .download-link {
    width: 100%;
    text-align: center;
    font-family: $font-family-monospace;
    font-size: 0.8rem;
  }

  &__card {
    border-width: 2px;
    border-style: solid;
    min-height: 210px;
  }

  &__content {
    background-color: $white;
  }

  &__image {
    display: block;
    // min-height: 340px;
    object-fit: contain;
    width: 100%;
  }

  &__header {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.noname {
      justify-content: center;
      margin: 8px;
    }

    &_date {
      color: $gray-light;
      font-size: 12px;
      font-family: $font-family-monospace;
    }

    &_name {
      font-family: $font-family-sans-serif;
    }

    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-content: center;

    &.video {
      height: 250px;
    }

    .blur-image {
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
    }

    svg {
      font-size: 80px;
      position: absolute;
      align-self: center;
      margin-top: 8rem;
      color: $white;
    }
  }

  &__copy-container {
    padding: 1rem;
  }

  &__title {
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
  }

  &__body {
    font-family: $font-family-monospace;
    font-size: 0.8rem;
    line-height: 1.1rem;
    white-space: pre-wrap;
    margin-top: 1rem;
    overflow-wrap: break-word;

    p {
      margin-bottom: 0;
    }
    p:empty {
      height: 1rem;
    }
  }

  .private-support {
    width: 100%;
    position: absolute;

    &__copy {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      background: url(../../../../images/icons/Icon_Unlock.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 54px 0 0;
      font-size: 14px;
      height: 100px;
      text-shadow: 0px 0px 3px $gray-light;
    }

    &__btn {
      display: flex;
      justify-content: center;
      margin: 1rem 0;

      svg {
        margin-right: 0.5rem;
      }

      button {
        width: 240px;
        text-transform: uppercase;
        border-radius: 0;
        font-family: $font-family-monospace;
      }
    }
  }

  &__status {
    color: $white;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px;
    background-color: $gray-lighter;
    display: flex;
    justify-content: center;
    align-items: center;

    .unlock {
      margin-right: 0.5rem;
    }
  }

  &__change {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0.4;
    transition: opacity $speed;
    margin-top: 0.25rem;
    right: -8px;

    &:hover {
      opacity: 1;
    }

    button {
      width: 30px;
      height: 30px;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
        background-color: $gray-lighter;
      }
    }
  }

  .comments-list {
    background-color: $gray-lightest;
    padding: 20px;
    color: $black;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:empty {
      display: none;
    }

    &__header {
      text-transform: uppercase;
      font-family: $font-family-monospace;
      font-size: 0.9rem;
    }

    .sendCommentIcon {
      button {
        outline: none;
      }
    }

    .collapse-actions {
      justify-content: center;

      .show-previous-command-btn {
        font-family: $font-family-monospace;
        text-transform: uppercase;
        width: 100%;
        cursor: pointer;
        font-size: 12px;
        height: 30px;
        width: 200px;
        align-self: center;
        justify-self: center;
        border: 0;
        text-decoration: underline;
        outline: none;
        background-color: transparent;
        transition: all $speed;
      }

      .show-previous-command-btn:hover {
        transition: all $speed;
        transform: rotate(-2deg);
        color: $black;
        font-size: 13px;
        outline: none;
      }
    }

    .comment-input {
      background-color: $white;
      font-family: $font-family-monospace;
      padding: 10px;
      border-radius: 0px;
      margin-top: 10px;

      .publish-button {
        right: -10px;
        &:disabled {
          svg path {
            fill: $gray-lighter;
          }
        }
        .icon {
          width: 20px;
          height: 20px;
          margin-left: 5px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}

.single-post {
  min-height: calc(100vh - 280px);
  .post {
    max-width: 100%;

    &__card {
      position: relative;
    }

    &__change {
      opacity: 1;
      button {
        opacity: 1;
      }
    }

    &__image-container {
      &.video {
        height: 400px;
      }
    }

    &__card {
      position: relative;
    }

    @include mq(0, $layout-m) {
      &__image-container {
        &.video {
          height: 250px;
        }
      }
    }

    &__image {
      object-fit: contain;
      // min-height: 340px;
    }

    &__content,
    .comments-list {
      width: 100%;
    }

    &__title {
      font-size: 1.6rem;
    }

    @include mq($tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      &__content {
        width: 65%;
      }
      .comments-list {
        width: 30%;
      }
    }
  }
}

.private-post-modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  p {
    margin: 2rem;
  }

  button {
    width: 50px;
    align-self: flex-end;
  }
}

.delete-post-modal {
  padding: 2rem;
  background-color: $white;
  height: 100vh;

  @include mq($tablet) {
    height: auto;
  }

  &__container {
    width: 100%;

    @include mq(0, $tablet) {
      .tear {
        display: none;
      }
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto 3rem;
  }
}
