@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';

.dashboard {
  display: flex;
  min-height: 95vh;
  flex-grow: 1;

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 2rem 0rem;
    box-shadow: 3px 0 5px -3px $black;
    position: relative;
    z-index: 1;
    &_image {
      border: 3px solid $black;
      border-radius: 100%;
      margin-bottom: 1rem;
    }
    &_buttons {
      margin-top: 2rem;
      button {
        margin: 0 0.5rem;
      }
    }
    &_links {
      width: 100%;
      margin: 2rem auto;
      border-top: 1px solid $black;
      padding-top: 2rem;
      text-align: center;
      a {
        font-family: $font-family-sans-serif;
        font-size: $font-size-h4;
        text-decoration: none;
        &.active {
          .flair {
            display: block;
            position: relative;
            width: 100px;
            background-color: $gray-light;
            height: 1rem;
            left: calc(50% - 50px);
            top: -0.75rem;
            z-index: -1;
          }
        }
      }
    }
    #artist-page-select {
      font-family: $font-family-sans-serif;
      font-size: 1.2rem;
    }
    .MuiFormControl-root {
      width: 100%;
      text-align: center;
      .MuiSelect-select {
        padding-left: 24px;
      }
      .MuiInput-underline::before {
        border-bottom: 0;
      }
    }
  }
  &__data {
    width: 100%;

    // DataGrid styles
    .MuiDataGrid {
      &-columnsContainer {
        background-color: $white;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        font-family: $font-family-sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $gray-light;
        padding-left: 2rem;
      }
      &-toolbar {
        padding: 0.5rem 2rem;
        display: flex;
      }
      &-footer {
        background-color: $white;
        border-top: 1px solid $black;
        font-family: $font-family-sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $gray-light;
        padding-left: 2rem;
      }
      &-window {
        background-color: $gray-lightest;
        padding-bottom: 2rem;
      }
      &-viewport {
        .rendering-zone {
          margin-top: 1rem;
          margin-left: 2rem;
        }
      }
      &-row {
        border: 1px solid $gray-light;
        border-radius: 2px;
        background-color: $white;
        width: 100%;
        margin-bottom: 0.5rem;
        &.Mui-selected,
        &.Mui-selected:hover {
          background-color: $gray-lighter;
        }
      }
      &-cell {
        border: 0;
        font-family: $font-family-monospace;
        &[data-field='name'] {
          font-family: $font-family-sans-serif;
        }
        &[data-field='email'] {
          font-size: 0.8rem;
        }

        &[data-field='monthly'],
        &[data-field='all_time'] {
          font-weight: bold;
        }
      }
    }
    .MuiToolbar-root,
    .MuiTablePagination-caption,
    .MuiTablePagination-input {
      font-family: $font-family-sans-serif;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $gray-light;
    }

    div[role='tabpanel'] {
      height: 100%;
    }
  }
}
