@import "../../theme/vars.scss";
@import "../../theme/mixins.scss";

.user-details {
  margin-top: calc(2rem + 50px);

  .basic-info,
  .address {
    margin: 2rem auto;
    padding: 2rem 0;
    border-top: 1px solid $black;
  }

  .row {
    margin-bottom: 2rem;
  }

  h5 {
    font-family: $font-family-sans-serif;
    max-width: 0;
  }

  h6 {
    font-family: $font-family-monospace;
    color: $gray-light;
  }

  &__title {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__info {
    font-family: $font-family-monospace;
    font-size: .9rem;
  }
}
