@import '../../../theme/vars.scss';
@import '../../../theme/mixins.scss';

.audio-player {
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    &__play-pause {
      span {
        text-align: center;
      }
      svg {
        position: relative;
        font-size: 0.5em;
      }
    }
  }
  &__track {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__download {
    font-family: $font-family-monospace;
    font-size: $font-size-sm;
  }

  &__time {
    position: absolute;
    font-family: $font-family-monospace;
    font-size: $font-size-xs;
    color: $white;
    background-color: $black;
    min-width: 40px;
    padding: 0 2px;
    text-align: center;
  }
  &__start {
    left: 0;
  }
  &__end {
    right: 0;
  }
}
