@import '../../../theme/vars.scss';
@import '../../../theme/mixins.scss';

.audio-player {
  position: relative;
  width: 100%;
  &__play-pause {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      position: relative;
      left: 1px;
      font-size: 0.5em;
    }
  }
  &__waveform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 320px;
    margin: auto;
    position: relative;

    canvas {
      padding: 0.2em;
    }
  }

  &__download {
    font-family: $font-family-monospace;
    font-size: $font-size-sm;
  }
  &__duration {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    &_start,
    &_end {
      font-family: $font-family-monospace;
      font-size: $font-size-xs;
      color: $white;
      background-color: $black;
      min-width: 40px;
      padding: 0 2px;
      text-align: center;
    }
  }
}
