.audio-player {
    &__play-pause {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 210px;
        width: 100%;
    }
    &__slider {
        .MuiSlider-thumb {
            span {
                width: 60px;
                background-color: transparent;
            }
        }
    }
}