---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service&statement_descriptor=Ampledband3
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_HCPrhLoiYOxpnI",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1588347833,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "statement_descriptor": "Ampledband3",
          "type": "service",
          "unit_label": null,
          "updated": 1588347833
        }
  recorded_at: Fri, 01 May 2020 15:43:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_HCPrhLoiYOxpnI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_HCPrhLoiYOxpnI",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1588347833,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "statement_descriptor": "Ampledband3",
          "type": "service",
          "unit_label": null,
          "updated": 1588347833
        }
  recorded_at: Fri, 01 May 2020 15:43:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_HCPrhLoiYOxpnI&nickname=Ampled+Support&interval=month&currency=usd&amount=15479
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_HCPruHBE5lEUu3",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 15479,
          "amount_decimal": "15479",
          "billing_scheme": "per_unit",
          "created": 1588347834,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support",
          "product": "prod_HCPrhLoiYOxpnI",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Fri, 01 May 2020 15:43:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_FfMNyx9ktbGwnx
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1Ge11rFObJENiB3bufi3szZ0",
          "object": "token",
          "card": {
            "id": "card_1Ge11rFObJENiB3b9sBVs5CN",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2021,
            "fingerprint": "xbttngdMsEUpSUHm",
            "funding": "debit",
            "last4": "5556",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "96.232.200.190",
          "created": 1588347835,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 May 2020 15:43:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=user%40ampled.com+for+Ampledband3&source=tok_1Ge11rFObJENiB3bufi3szZ0
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1GdkndFObJENiB3b
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your account cannot currently make charges. To find out why charge creation is currently disabled, look at the `requirements.disabled_reason` property on this account (/v1/accounts/acct_1GdkndFObJENiB3b).",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 01 May 2020 15:43:57 GMT
recorded_with: VCR 4.0.0
