@import '../../../theme/vars.scss';
@import '../../../theme/mixins.scss';
.post-container {
  margin-bottom: 2rem;

  &__audio-container {
    position: relative;
    display: block;
  }
  &__no-posts {
    margin: 2rem auto;
    text-align: center;
    font-family: $font-family-monospace;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      color: $black;
    }
    @include mq($layout-m) {
      min-height: 250px;
    }
  }
}
