.menu {
  .menu-icon {
    cursor: pointer;
    padding: 22px 0;
  }

  .menu-list {
    border-radius: 0;
    margin-right: 15px;
    width: 250px;
  }

  a {
    color: #000000;
  }

  a:hover {
    text-decoration: none;
  }
}
