---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wZ0zdNDx5CqI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wZ0zdNDx5CqI",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102466,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102466,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:27:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wZmdzR617v62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wZmdzR617v62",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102471,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102471,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:27:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wZ3AsrZiIQ4F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_F0wZ3AsrZiIQ4F",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "created": 1557102468,
          "currency": "usd",
          "default_source": "card_1EWugJGrdnhANdIV66sx6Agq",
          "delinquent": false,
          "description": "billhickle@dibbert.net for ",
          "discount": null,
          "email": null,
          "invoice_prefix": "4EAA454C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1EWugJGrdnhANdIV66sx6Agq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "92928",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_F0wZ3AsrZiIQ4F",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "c7AvuxS6jv5p8NBJ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_F0wZ3AsrZiIQ4F/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_F0wZ3r7RKysdwH",
                "object": "subscription",
                "application_fee_percent": 15.0,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1557102469,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1557102469,
                "current_period_end": 1559780869,
                "current_period_start": 1557102469,
                "customer": "cus_F0wZ3AsrZiIQ4F",
                "days_until_due": null,
                "default_payment_method": null,
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_F0wZVTk4gN2has",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1557102469,
                      "metadata": {
                      },
                      "plan": {
                        "id": "plan_F0wZbBFdQaMQ7m",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 10000,
                        "billing_scheme": "per_unit",
                        "created": 1557102467,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "Ampled Support $5",
                        "product": "prod_F0wZ0zdNDx5CqI",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_F0wZ3r7RKysdwH",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_F0wZ3r7RKysdwH"
                },
                "latest_invoice": "in_1EWugLGrdnhANdIVrrq76BhD",
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "plan_F0wZbBFdQaMQ7m",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 10000,
                  "billing_scheme": "per_unit",
                  "created": 1557102467,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support $5",
                  "product": "prod_F0wZ0zdNDx5CqI",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1557102469,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_F0wZ3AsrZiIQ4F/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_F0wZ3AsrZiIQ4F/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 06 May 2019 00:27:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wZwit4FDuqdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3FagxtQEhQZk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3FagxtQEhQZk",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969057,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969057,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:37:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3FzHMjtrG7Ka
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3FzHMjtrG7Ka",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969061,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969061,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:37:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3FoSHeT64Wfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FZ3FoSHeT64Wfo",
          "object": "customer",
          "account_balance": 31,
          "address": null,
          "balance": 31,
          "created": 1564969059,
          "currency": "usd",
          "default_source": "card_1F3v8oGrdnhANdIV3aHhpBzA",
          "delinquent": false,
          "description": "manykozey@windler.net for ",
          "discount": null,
          "email": null,
          "invoice_prefix": "042401E8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "me[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3FG4b1cGscZe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3XguXPsz0mBo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3XguXPsz0mBo",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970164,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970164,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:56:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3XY5vdCukfH6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3XY5vdCukfH6",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970169,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970169,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:56:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3XVJqePVljdD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3XgSYv0y4RGC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1EWuSqIZVA1Gb98n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv7UNtbgcxTx5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv7UNtbgcxTx5",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575086972,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575086972,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:09:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv79d8oHo8MVn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv79d8oHo8MVn",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575086973,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575086973,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:09:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv9PVhB3jHQz8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv9PVhB3jHQz8",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087134,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087134,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:12:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv92F3HhwQJMf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv92F3HhwQJMf",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087139,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575087139,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:12:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_GGv9q8usS5Bvet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_GGvAqPh86OnMCr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GRLVcwvOWsYbee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GRLVcwvOWsYbee",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1577491569,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "Led Zeppelin",
          "type": "service",
          "unit_label": null,
          "updated": 1577491569,
          "url": null
        }
  recorded_at: Sat, 28 Dec 2019 00:06:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_GRLV4m0yCUp9pS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GRLfIBGUXUqQvr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GRLfIBGUXUqQvr",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1577492166,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "The Talking Heads",
          "type": "service",
          "unit_label": null,
          "updated": 1577492166,
          "url": null
        }
  recorded_at: Sat, 28 Dec 2019 00:16:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GRLf0kzgc4L34Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GRLf0kzgc4L34Z",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1577492171,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "The Doors",
          "type": "service",
          "unit_label": null,
          "updated": 1577492171,
          "url": null
        }
  recorded_at: Sat, 28 Dec 2019 00:16:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_GRLfkKXeOoKeg5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_GRLfZjulcEat1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FaoinEUNj0pWIW7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FaoinEUNj[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GaLIQ8MbABcYSs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GaLIQ8MbABcYSs",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
[...]
