---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Ewrqfena1Ve8Pc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Ewrqfena1Ve8Pc",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "created": 1556162349,
          "currency": "usd",
          "default_source": "card_1ESy76GrdnhANdIVPf1ZoyXW",
          "delinquent": false,
          "description": "normand@jenkinsheaney.io for ",
          "discount": null,
          "email": null,
          "invoice_prefix": "7987774B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1ESy76GrdnhANdIVPf1ZoyXW",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "92928",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Ewrqfena1Ve8Pc",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "c7AvuxS6jv5p8NBJ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Ewrqfena1Ve8Pc/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_Ewrqi1mmh69xyZ",
                "object": "subscription",
                "application_fee_percent": 15.0,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1556162350,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1556162350,
                "current_period_end": 1558754350,
                "current_period_start": 1556162350,
                "customer": "cus_Ewrqfena1Ve8Pc",
                "days_until_due": null,
                "default_payment_method": null,
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_EwrqHGtGJkR2sD",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1556162350,
                      "metadata": {
                      },
                      "plan": {
                        "id": "plan_Ewrq9YZeNOax7R",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 500,
                        "billing_scheme": "per_unit",
                        "created": 1556162348,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "Ampled Support $5",
                        "product": "prod_EwrqMbuD0lahOP",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_Ewrqi1mmh69xyZ",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_Ewrqi1mmh69xyZ"
                },
                "latest_invoice": "in_1ESy78GrdnhANdIVRkAYHnm9",
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "plan_Ewrq9YZeNOax7R",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 500,
                  "billing_scheme": "per_unit",
                  "created": 1556162348,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support $5",
                  "product": "prod_EwrqMbuD0lahOP",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1556162350,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Ewrqfena1Ve8Pc/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Ewrqfena1Ve8Pc/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 25 Apr 2019 03:19:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ExdF84gErP1aBr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_ExdKsKUxQtEufL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_ExdKsKUxQtEufL",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1556338951,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1556338951,
          "url": null
        }
  recorded_at: Sat, 27 Apr 2019 04:22:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ExdKNK6mF1MuUM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_ExdjWBum9JMR8e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_ExdjWBum9JMR8e",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1556340445,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1556340445,
          "url": null
        }
  recorded_at: Sat, 27 Apr 2019 04:47:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ExdjVBmEKIwjVL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wIDcLKeG2mtX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wIDcLKeG2mtX",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557101422,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557101422,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:10:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wIvhmqzMlmkx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wTEjIDsiEpKZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wTEjIDsiEpKZ",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102126,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102126,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:22:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wTLIPJerfpBa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0wYc3Pa1Ta9uZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0wYc3Pa1Ta9uZ",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102424,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102424,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:27:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0wYSwrrvLeQ0Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_F0waDVylOPYt3o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_F0waDVylOPYt3o",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1557102547,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1557102547,
          "url": null
        }
  recorded_at: Mon, 06 May 2019 00:29:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_F0waurykLrnAGX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3F52vglr3pSk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3F52vglr3pSk",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969070,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969070,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:37:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3FZLOssiHERN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FZ3FZLOssiHERN",
          "object": "customer",
          "account_balance": 31,
          "address": null,
          "balance": 31,
          "created": 1564969071,
          "currency": "usd",
          "default_source": "card_1F3v91GrdnhANdIVQ7ibche0",
          "delinquent": false,
          "description": "markheidenreich@hickle.co for ",
          "discount": null,
          "email": null,
          "invoice_prefix": "2FD1B8A3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
         [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3RQAnX8Vo5j8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3RQAnX8Vo5j8",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969785,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969785,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:49:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3RfaHY4e3cfr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3U22e0GiAIzt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3U22e0GiAIzt",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564969970,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564969970,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:52:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3VZBIJX5RofU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3Ywt0qf3shuT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3Ywt0qf3shuT",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970183,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970183,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 01:56:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3YAKuLV3YRCb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_FZ3jPrkhEidm0J
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_FZ3jPrkhEidm0J",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1564970896,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1564970896,
          "url": null
        }
  recorded_at: Mon, 05 Aug 2019 02:08:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_FZ3jzWNMCns8AV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGv7vj4nDvrztF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGv7vj4nDvrztF",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575086981,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "type": "service",
          "unit_label": null,
          "updated": 1575086981,
          "url": null
        }
  recorded_at: Sat, 30 Nov 2019 04:09:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_GGvAjt1C6XptPQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_GGvAjt1C6XptPQ",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "caption": null,
          "created": 1575087149,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
[...]
