@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';

.artistAlertHeader {
  font-family: $font-family-monospace;
  font-size: $font-size-md;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  background-color: $black;
  color: $white;
  span {
    display: list-item;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.new-post,
.edit-page {
  position: fixed;
  z-index: 10000;
  transition: opacity $speed;

  @include mq(0, $layout-m) {
    bottom: 0px;
    width: 50%;
    border-top: 1px solid $black;
  }

  @include mq($layout-m) {
    text-align: right;
    right: 0px;
    top: 55px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }

  button {
    font-family: $font-family-sans-serif;
    background-color: $brand-primary;
    border-width: 0px;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    text-transform: capitalize;
    min-width: 120px;
    padding-right: 10px;

    @include mq($layout-m) {
      width: auto;
      height: 36px;
      padding: 0 15px;
      outline: none;
    }
  }
}
.new-post {
  @include mq(0, $layout-m) {
    left: 0px;
  }
}

.edit-page {
  @include mq(0, $layout-m) {
    right: 0px;
    border-left: 1px solid $black;
  }

  @include mq($layout-m) {
    top: 95px;
  }
}

.artist-promote {
  padding-top: 2rem;
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
}
