@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';
@import '../../theme/global.scss';

.artistAlertHeader {
  font-family: $font-family-monospace;
  font-size: $font-size-md;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  background-color: $black;
  color: $white;
  span {
    display: list-item;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.new-post,
.edit-page {
  position: fixed;
  z-index: 100;

  @include mq(0, $layout-m) {
    bottom: 0px;
    width: 50%;
    border-top: 1px solid $black;
  }

  @include mq($layout-m) {
    text-align: right;
    right: 10px;
    top: 70px;
  }

  button,
  .edit-button {
    cursor: pointer;
    background-color: $brand-primary;
    border-width: 0px;
    width: 100%;
    height: 50px;
    transition: background-color $speed;

    span {
      visibility: visible;
    }

    @include mq($layout-m) {
      width: auto;
      height: 36px;
      padding: 0 10px;
      outline: none;
      border-radius: 20px;

      span {
        visibility: visible;
        padding-right: 20px;
        padding-left: 5px;
        max-width: 150px;
        transition: max-width $speed;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0;
      }
    }
  }

  span {
    visibility: hidden;
  }
}
.new-post {
  @include mq(0, $layout-m) {
    left: 0px;
  }
}

.edit-page {
  @include mq(0, $layout-m) {
    right: 0px;
    border-left: 1px solid $black;
  }

  @include mq($layout-m) {
    top: 115px;
  }
}
