@import "../../theme/vars.scss";
@import "../../theme/mixins.scss";
@import "../../theme/global.scss";

.artist-header {
  font-family: $font-family-sans-serif;
  margin-top: 50px;
  
  @include mq( $layout-m ) {
    padding: 0 40px;
  }
  @include mq( $layout-l ) {
    padding: 0 15px;
  }

  &__photo-container {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    @include mq( $layout-m ) {
      margin: auto;
    }
    &_border {
      border: 2px solid $brand-primary;
      z-index: 100;
      width: calc(100% - 85px);
      height: 339px;
      position: absolute;
      margin: -2px 0;
      @include mq( $layout-m ) {
        height: 475px;
        width: calc(100% - 30px);
      }  
      @include mq( $layout-l ) {
        height: 575px;
      }
    }
  }

  &__title {
    font-size: 2rem;
    margin: 2rem 0 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;

    @include mq( $layout-m ) {
      text-align: left;
    }
  }

  &__persons {
    z-index: 200;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 20px;

    @include mq( $layout-m ) {
      padding-top: 20px;
      left: -12px;
    }
  }

  &__person {
    width: auto;
    max-width: 50px;
    max-height: 50px;
    position: relative;
    margin: 10px auto;

    @include mq( $layout-m ) {
      max-width: 70px;
      max-height: 70px;
    }

    &_image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      border-width: 1px;  
      border-style: solid;  
      margin: auto;

      @include mq( $layout-m ) {
        max-width: 70px;
        max-height: 70px;
      }
      &.member {
        @include mq( $layout-m ) {
          width: 56px !important;
          height: 56px !important;
        }
      }
    }
    &_svg {
      width: 50px !important;
      height: 50px;
      background-color: $white;
      border-radius: 100px;
      border-width: 1px;  
      border-style: solid;  
      margin: auto;
      
      path {
        fill: $gray-light;
      }

      @include mq( $layout-m ) {
        max-width: 70px;
        max-height: 70px;
      }

      &.member {
        @include mq( $layout-m ) {
          width: 56px !important;
          height: 56px !important;
        }
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &_name {
      font-size: 1.0rem;
    }
    &_quote {
      font-size: 0.8rem;
      font-family: $font-family-monospace;
    }

    &_small {
      margin: 0 3px;
    }
  }

  &__photos {
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 3rem;
    @include mq( $layout-m ) {
      height: 475px;
    }
    @include mq( $layout-l ) {
      height: 575px;
    }
  }

  &__photo {
    position: absolute;
    display: block;
    width: 335px;
    background-color: $brand-primary;
    z-index: 1;

    @include mq( $layout-m ) {
      width: 450px;
    }
    @include mq( $layout-l ) {
      width: 550px;
    }

    &.active {
      z-index: 10;

      img {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      opacity: .5;
    }

    &:nth-child(1n) {
      transform: scale(.9) rotate(5deg);
      @include mq( $layout-m ) {
        transform: rotate(5deg);
      }
    }
    &:nth-child(2n) {
      transform: scale(.9) rotate(3deg);
      @include mq( $layout-m ) {
        transform: rotate(3deg);
      }
    }
    &:nth-child(3n) {
      transform: scale(.9) rotate(-5deg);
      @include mq( $layout-m ) {
        transform: rotate(-5deg);
      }
    }
    &:nth-child(4n) {
      transform: scale(.9) rotate(-3deg);
      @include mq( $layout-m ) {
        transform: rotate(-3deg);
      }
    }
    &:nth-child(5n) {
      transform: scale(.9) rotate(-7deg);
      @include mq( $layout-m ) {
        transform: rotate(-7deg);
      }
    }
  }

  &__banner-icons {
    margin-top: 1rem;
    display: flex;
    align-self: end;
    bottom: -20px;
    left: -20px;
    position: relative;
    &_icon {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $gray-lighter;
      margin: 0 5px;
      &.active {
        background: $brand-primary;
      }
    }
  }

  &__message {
    font-size: 1.25rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__message-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    border: 2px solid $brand-primary;
    padding: 10px 0px;
  }

  &__message-video {
    width: 100%;
    transform: scale(1.1) rotate(-2deg);
    position: relative;
    z-index: -1;
  }
  &__message-image {
    width: 100%;
  }
  &__message-tear {
    width: 102%;
    left: -2px;
    top: -2px;
    position: absolute;    
  }

  &__supporters {
    &_title {
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
      text-transform: uppercase;
      font-weight: bold;
    }
    &_recent {
      display: flex;

      .artist-header__person {
        margin: 0 1rem 0 0 ;
      }
    }

    &_all {
      display: flex;
      flex-flow: wrap;
      margin-bottom:1.5rem;
      .artist-header__person_image,
      .artist-header__person_svg {
        border-width:0;
      }
    }

    .supporter {
      &:hover {
        .supporter__hover-card {
          display: block;
        }
      }
      &__hover-card {
        width: 350px;
        background-color: $white;
        position: absolute;
        display: none;
        padding: .5rem 1rem;
        z-index: 300;
        box-shadow: 1px 1px 3px $gray-light;
        transform: translate(-42%,-110%);
        &:after {
          content: '';
          width: 20px;
          height: 20px;
          background-color: $white;
          position: absolute;
          display: block;
          right: 50%;
          bottom: -10px;
          transform: rotate(45deg);
          box-shadow: 1px 1px 3px $gray-light;
          z-index: -1;
        }
        &:before {
          content: '';
          width: 50px;
          height: 15px;
          background-color: $white;
          position: absolute;
          display: block;
          bottom: 0px;
          right: 45%;
        }

        &_header {
          display: flex;
          &_photo {
            margin-right: .5rem;
            &_image {
              width: 50px;
              height: 50px;
              border-radius: 100%;
            }
          }
          &_info {
            display: flex;
            justify-content: center;
            align-items: center;
            &_since {
              font-family: $font-family-monospace;
              font-size: .8rem;
            }
          }
        }
        &_bands {
          margin-top: .5rem;
          padding-top: .5rem;
          border-top: 1px solid $gray;
          &_section {
            margin-bottom: .5rem;
            h6 {
              text-transform: uppercase;
              color: $gray-light;
            }
          }
          &_name {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .most-recent-supporter-tag {
    font-family: $font-family-monospace;
  }

  &__play {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.25s ease-in-out;

    &:hover {
      height: 85px;
      width: 85px;
      background-color: rgba(255, 255, 255, 0.6);
      transition: all 0.25s ease-in-out;
      cursor: pointer;
    }
    &_svg {
      color: $brand-primary;
    }
  }
}

.artist-info {
  font-family: $font-family-monospace;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  margin: 2rem auto;
  padding: 1rem 0;

  .icon {
    margin: 0 0.5rem 0 0;
  }

  &__location {
    margin: 0 1rem;
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    span {
      display: none;
      @include mq( $layout-m ) {
        display: inline;
      }
    }

    &_twitter,
    &_instagram {
      margin: 0 0 0 .5rem;
      @include mq($layout-m) {
        margin: 0 1rem;
      }
    }
  }
}

.new-post {
  position: fixed;
  z-index: 100;

  @include mq(0,$layout-m) {
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid $black;
  }

  @include mq($layout-m) {
    text-align: right;
    right: 10px;
    top: 70px;
  }

  button {
    cursor: pointer;
    background-color: $brand-primary;
    border-width: 0px;
    width: 100%;
    height: 50px;
    transition: background-color $speed;

    span {
      visibility: visible;
      margin-right: .5rem;
    }

    @include mq($layout-m) {
      width: auto;
      height: 36px;
      padding: 0 10px;
      outline: none;
      border-radius: 20px;

      span {
        visibility: visible;
        padding-right: 20px;
        padding-left: 5px;
        max-width: 150px;
        transition: max-width $speed;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0;
      }
    }
  }

  span {
    color: $white;
    visibility: hidden;
  }
}
