---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Test+customer&source=tok_visa_debit
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_J9yfbaXluXptoc",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1616384726,
          "currency": null,
          "default_source": "card_1IXehmCNj1cfz4PU6my79dBv",
          "delinquent": false,
          "description": "Test customer",
          "discount": null,
          "email": null,
          "invoice_prefix": "2867DC90",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1IXehmCNj1cfz4PU6my79dBv",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_J9yfbaXluXptoc",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2022,
                "fingerprint": "xbttngdMsEUpSUHm",
                "funding": "debit",
                "last4": "5556",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_J9yfbaXluXptoc/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_J9yfbaXluXptoc/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_J9yfbaXluXptoc/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 22 Mar 2021 03:45:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=US&email=hello%40kittehrock.com&capabilities[card_payments][requested]=true&capabilities[transfers][requested]=true&business_type=individual&business_profile[url]=https%3A%2F%2Fkittehrock.com&business_profile[mcc]=5045&tos_acceptance[date]=1547923073&tos_acceptance[ip]=1.1.1.1&external_account[object]=bank_account&external_account[country]=US&external_account[[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service&statement_descriptor=KittehR
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_J9yhcVApng8mcZ",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1616384850,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": "KittehR",
          "type": "service",
          "unit_label": null,
          "updated": 1616384850,
          "url": null
        }
  recorded_at: Mon, 22 Mar 2021 03:47:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_J9yhcVApng8mcZ&nickname=Ampled+Support&interval=month&currency=usd&amount=649
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_J9yhiYD0GUXM8r",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 649,
          "amount_decimal": "649",
          "billing_scheme": "per_unit",
          "created": 1616384850,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support",
          "product": "prod_J9yhcVApng8mcZ",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Mon, 22 Mar 2021 03:47:31 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_J9yhTmqAmU76fd&plan=plan_J9yhiYD0GUXM8r&application_fee_percent=13.24
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_J9yhnbyeR39X4w",
          "object": "subscription",
          "application_fee_percent": 13.24,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1616384852,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1616384852,
          "current_period_end": 1619063252,
          "current_period_start": 1616384852,
          "customer": "cus_J9yhTmqAmU76fd",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_J9yhjsm4YKxJFc",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1616384852,
                "metadata": {
                },
                "plan": {
                  "id": "plan_J9yhiYD0GUXM8r",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 649,
                  "amount_decimal": "649",
                  "billing_scheme": "per_unit",
                  "created": 1616384850,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "Ampled Support",
                  "product": "prod_J9yhcVApng8mcZ",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "plan_J9yhiYD0GUXM8r",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1616384850,
                  "currency": "usd",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": "Ampled Support",
                  "product": "prod_J9yhcVApng8mcZ",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 649,
                  "unit_amount_decimal": "649"
                },
                "quantity": 1,
                "subscription": "sub_J9yhnbyeR39X4w",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_J9yhnbyeR39X4w"
          },
          "latest_invoice": "in_1IXejo2EhGD1p3sbbfoJwM8E",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pause_collection": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "plan_J9yhiYD0GUXM8r",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 649,
            "amount_decimal": "649",
            "billing_scheme": "per_unit",
            "created": 1616384850,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "Ampled Support",
            "product": "prod_J9yhcVApng8mcZ",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1616384852,
          "start_date": 1616384852,
          "status": "active",
          "tax_percent": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 22 Mar 2021 03:47:34 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J9yfbaXluXptoc
    body:
      encoding: UTF-8
      string: source=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      strin[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_J9yfbaXluXptoc
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1IXelu2EhGD1p3sb4oFVv1qH",
          "object": "token",
          "card": {
            "id": "card_1IXelu2EhGD1p3sb6hYE9Xoy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2022,
            "fingerprint": "E6Pd3bfp00SpSfRI",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "198.48.202.204",
          "created": 1616384982,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 22 Mar 2021 03:49:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J9yhTmqAmU76fd
    body:
      encoding: UTF-8
      string: source=tok_1IXelu2EhGD1p3sb4oFVv1qH
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1IXehn2EhGD1p3sb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-A[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_J9yjti1NiAz6my
    body:
      encoding: UTF-8
      string: source=tok_1IXelv2Hb6LoVqYayiCxZgPC
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1IXejq2Hb6LoVqYa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-A[...]
[...]
