---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?limit=3&stripe_account=acct_1ESxHQGrdnhANdIV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: stripe_account",
            "param": "stripe_account",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 27 May 2019 03:29:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "py_1EeZVgGrdnhANdIVK4O3K6c1",
              "object": "charge",
              "amount": 50000,
              "amount_refunded": 0,
              "application": "ca_Eowu0ycKNxFo46f8hqlCNCpt4w26bxer",
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_1EeZVgGrdnhANdIVcD5DqL5F",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
              },
              "captured": true,
              "created": 1558927708,
              "currency": "usd",
              "customer": null,
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {
              },
              "invoice": null,
              "livemode": false,
              "metadata": {
              },
              "on_behalf_of": null,
              "order": null,
              "outcome": null,
              "paid": true,
              "payment_intent": null,
              "payment_method": null,
              "payment_method_details": {
                "stripe_account": {
                },
                "type": "stripe_account"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/acct_1ESxHQGrdnhANdIV/py_1EeZVgGrdnhANdIVK4O3K6c1/rcpt_F8rEsgyYuPTs9bbzoOUWizenxK41ELz",
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/py_1EeZVgGrdnhANdIVK4O3K6c1/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "acct_1ELJ0BFWLVff7JqN",
                "object": "account",
                "application_icon": "https://files.stripe.com/links/fl_live_VZgL4wKkMP8cwNDT0Kh9srzB",
                "application_logo": "",
                "application_name": null
              },
              "source_transfer": "tr_1EeZVgFWLVff7JqNa8I0IRdn",
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            },
            {
              "id": "py_1EeZVNGrdnhANdIVv4wsSG0b",
              "object": "charge",
              "amount": 50000,
              "amount_refunded": 0,
              "application": "ca_Eowu0ycKNxFo46f8hqlCNCpt4w26bxer",
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_1EeZVNGrdnhANdIVQXcrlNZT",
              "billing_details": {
                "address": {
                  "city": n[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "balance",
          "available": [
            {
              "amount": 100000,
              "currency": "usd",
              "source_types": {
                "card": 100000
              }
            }
          ],
          "livemode": false,
          "pending": [
            {
              "amount": 64820,
              "currency": "usd",
              "source_types": {
                "card": 64820
              }
            }
          ]
        }
  recorded_at: Mon, 27 May 2019 03:30:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payouts
    body:
      encoding: UTF-8
      string: amount=1&currency=usd&source_type=card
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "po_1EeZcEGrdnhANdIVXSKojgDQ",
          "object": "payout",
          "amount": 1,
          "arrival_date": 1559001600,
          "automatic": false,
          "balance_transaction": "txn_1EeZcEGrdnhANdIVqpemPzAq",
          "created": 1558928114,
          "currency": "usd",
          "description": null,
          "destination": "card_1ESxIAGrdnhANdIVQvoh44dl",
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {
          },
          "method": "standard",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "pending",
          "type": "card"
        }
  recorded_at: Mon, 27 May 2019 03:35:14 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=50000&currency=usd&source=tok_bypassPending&transfer_data[destination]=acct_1ESxHQGrdnhANdIV
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payouts?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WpL6hAXT7brfG79UaViblroq00X4X2uvkS
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1ESxHQGrdnhANdIV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1ESxHQGrdnhAN[...]
