@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';

.blog-posts {
  width: 100%;
  max-width: 2000px;
  margin: 50px auto 0;
  overflow: hidden;

  a {
    color: $black;
    text-decoration: underline;
    transition: color $speed;
    &:hover {
      color: rgba($black, 0.7);
      text-decoration: none;
    }
  }

  &__header {
    margin-bottom: -125px;
    text-align: center;
    font-family: $font-family-sans-serif;
    position: relative;
    z-index: 10;
    h1 {
      background-color: $white;
      margin-bottom: 0;
      padding: 1rem 0 0;
    }
  }
  &__tease {
    margin-bottom: 2rem;
    position: relative;
    a {
      text-decoration: none;
    }
    &_border {
      border: 1px solid $black;
      height: 220px;
      width: calc(100% - 30px);
      position: absolute;
      top: 4px;
      left: 4px;
    }
    &_image {
      height: 220px;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
    &_title {
      margin-bottom: 0.5rem;
      font-family: $font-family-sans-serif;
    }
    &_excerpt {
      margin: 2rem auto;
      font-family: $font-family-monospace;
    }
    &.main {
      .blog-posts__info {
        max-width: 600px;
        width: 100%;
        @include mq($layout-m) {
          margin-right: 12px;
          max-width: 600px;
          width: 85%;
        }
      }
      .blog-posts__info_date {
        @include mq($layout-m) {
          margin-top: 0;
        }
      }
      .blog-posts__info_author {
        margin-right: 1rem;
      }
      .blog-posts__tease_image {
        height: 50vh;
        max-width: 1650px;
        margin: auto;
      }
    }
  }

  &__info {
    background-color: $white;
    padding: 1rem;
    width: 85%;
    display: block;
    margin: -3rem auto 0;
    position: relative;
    z-index: 10;
    &_border {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include mq($layout-m) {
        border: 1px solid $black;
        padding: 0.5rem;
        flex-direction: row;
        display: inline-block;
        div {
          display: inline;
        }
      }
    }
    &_author {
      font-family: $font-family-sans-serif;
    }
    &_date {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      font-family: $font-family-monospace;
    }
  }
}

.blog-post {
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;

  &.fi-margin {
    margin-top: -25vh;
  }

  a {
    color: $black;
    text-decoration: underline;
    transition: color $speed;
    &:hover {
      color: rgba($black, 0.7);
      text-decoration: none;
    }
  }
  &__content {
    background-color: $white;
    padding: 1rem;
    width: 100%;

    @include mq($layout-m) {
      width: 70%;
      padding: 1rem 2rem;
    }
  }
  &__header {
    margin-bottom: 2rem;
    text-align: center;
    font-family: $font-family-sans-serif;
  }
  &__title {
    margin-bottom: 2rem;
    font-family: $font-family-sans-serif;
    text-transform: capitalize;
  }

  &__info {
    background-color: $white;
    padding: 1rem;
    width: auto;
    border: 1px solid $black;
    display: inline-block;
    margin-left: 3rem;
    a {
      position: relative;
      z-index: 10;
    }
    @include mq(0, $layout-m) {
      min-width: 250px;
      &:before {
        content: '';
        width: 4rem;
        height: 1rem;
        background-color: $black;
        display: block;
        position: absolute;
        left: 0;
      }
    }
    @include mq($layout-m) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      height: 90px;
      position: absolute;
      right: 5%;
      top: 20px;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid $black;
        position: absolute;
        top: -5px;
        left: -7px;
      }
    }
    &_author {
      font-family: $font-family-sans-serif;
    }
    &_date {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      font-family: $font-family-monospace;
    }
  }

  &__photo_credit {
    background-color: $white;
    padding: 1rem 0;
    font-family: $font-family-sans-serif;
    font-size: 0.9rem;
    display: flex;
    margin-left: 3rem;
    @include mq($layout-m) {
      width: 20%;
      padding: 1rem;
      position: absolute;
      right: 5%;
      top: 130px;
    }
    .icon {
      display: inline-block;
      margin-right: 0.5rem;
      position: relative;
      top: -1px;
    }
  }

  &__featured-image {
    height: 70vh;
    width: 100%;
    max-width: 1500px;
    margin: 50px auto 0;
    background-position: center center;
    background-size: cover;
  }

  &__excerpt {
    margin: 2rem auto;
    font-family: $font-family-monospace;
    font-style: italic;
    font-size: 1.1rem;
    @include mq($layout-m) {
      font-size: 1.3rem;
      &:after {
        content: '';
        width: 250px;
        height: 1rem;
        background-color: $black;
        display: block;
        left: -100px;
        position: relative;
      }
    }
  }

  &__body {
    font-family: $font-family-monospace;
    b,
    strong {
      font-family: $font-family-sans-serif;
    }
  }

  // Wordpress block content styling

  // Images
  figure.wp-block-image {
    img {
      width: 100%;
    }
    figcaption {
      background-color: $white;
      padding: 1rem;
      font-family: $font-family-monospace;
      font-size: 0.8rem;
      text-align: center;
      @include mq($layout-m) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        position: absolute;
        right: 5%;
        margin-top: -10%;
        text-align: left;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          border: 1px solid $black;
          position: absolute;
          top: -5px;
          left: -3px;
        }
      }
    }
  }
  .wp-block-group__inner-container {
    @include mq($layout-m) {
      display: flex;
    }
    figure.wp-block-image {
      padding: 0.5rem;
    }
  }
  hr {
    width: 250px;
    height: 1rem;
    background-color: $black;
    display: block;
    left: -100px;
    position: relative;
    margin: 2rem 0;
  }
}
