---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service&statement_descriptor=Ampledband3
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_HCQ2rptBjstDSR",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1588348469,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "statement_descriptor": "Ampledband3",
          "type": "service",
          "unit_label": null,
          "updated": 1588348469
        }
  recorded_at: Fri, 01 May 2020 15:54:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_HCQ2rptBjstDSR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_HCQ2rptBjstDSR",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1588348469,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "statement_descriptor": "Ampledband3",
          "type": "service",
          "unit_label": null,
          "updated": 1588348469
        }
  recorded_at: Fri, 01 May 2020 15:54:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_HCQ2rptBjstDSR&nickname=Ampled+Support&interval=month&currency=usd&amount=15479
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_HCQ2gJoYwgVAYE",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 15479,
          "amount_decimal": "15479",
          "billing_scheme": "per_unit",
          "created": 1588348470,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support",
          "product": "prod_HCQ2rptBjstDSR",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Fri, 01 May 2020 15:54:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_FfMNyx9ktbGwnx
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Must authenticate as a connected account to be able to use customer parameter. See https://stripe.com/docs/api#create_card_token for more details.",
            "param": "customer",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 01 May 2020 15:54:30 GMT
recorded_with: VCR 4.0.0
