---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Ampled+Support&type=service&statement_descriptor=Ampledband
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_Ixd9oO1UGR4DbO",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1613537012,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "statement_descriptor": "Ampledband",
          "type": "service",
          "unit_label": null,
          "updated": 1613537012
        }
  recorded_at: Wed, 17 Feb 2021 04:43:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_Ixd9oO1UGR4DbO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "prod_Ixd9oO1UGR4DbO",
          "object": "product",
          "active": true,
          "attributes": [

          ],
          "created": 1613537012,
          "description": null,
          "images": [

          ],
          "livemode": false,
          "metadata": {
          },
          "name": "Ampled Support",
          "statement_descriptor": "Ampledband",
          "type": "service",
          "unit_label": null,
          "updated": 1613537012
        }
  recorded_at: Wed, 17 Feb 2021 04:43:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: product=prod_Ixd9oO1UGR4DbO&nickname=Ampled+Support&interval=month&currency=usd&amount=10330
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "plan_Ixd9NAkDU0GsGg",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 10330,
          "amount_decimal": "10330",
          "billing_scheme": "per_unit",
          "created": 1613537012,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Ampled Support",
          "product": "prod_Ixd9oO1UGR4DbO",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Wed, 17 Feb 2021 04:43:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=cus_FfMNyx9ktbGwnx
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1FA1TnKB00tmjmII
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1ILhsvKB00tmjmIInHfazvEL",
          "object": "token",
          "card": {
            "id": "card_1ILhsvKB00tmjmIIl1j91irT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "currency": "usd",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2021,
            "fingerprint": "xbttngdMsEUpSUHm",
            "funding": "debit",
            "last4": "5556",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "198.48.202.204",
          "created": 1613537013,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 17 Feb 2021 04:43:33 GMT
recorded_with: VCR 4.0.0
