@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.message-modal {
  overflow: hidden;
  height: 100vh;

  &_bio {
    padding: 60px 10px 0px 65px;
    font-family: $font-family-monospace;
    background-image: url(../../../images/background_paper_lg.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: fixed;
  }
  .MuiPaper-root {
    transform: rotate(0deg);
    max-height: 100%;
    margin: 0px;
  }

  @include mq($layout-m) {
    height: auto;
    .MuiPaper-root {
      transform: rotate(-2deg);
    }
    &_bio {
      padding: 100px 55px 20px 105px;
    }
  }
}
