@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.message-modal {
  overflow: hidden;
  height: 100vh;

  &_bio {
    padding: 2rem 1rem 1rem 3rem;
    font-family: $font-family-monospace;
  }

  @include mq($layout-m) {
    height: auto;
  }
}
