@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.tabs {
  margin-left: 25px;

  button {
    outline: none;
    margin-right: 30px;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 0.7px;
  }

  .selected {
    border-bottom: 3px solid $brand-primary;
    border-radius: 0px;
  }

  .disabled {
    border-bottom: 3px solid $white;
    border-radius: 0px;
    color: $gray-light;
  }
}

.MuiDialog-paper-7 {
  min-height: 790px;
}