@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.tabs {
  margin-left: 25px;

  button {
    outline: none;
    margin-right: 30px;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 0.7px;
  }

  .selected {
    border-bottom: 3px solid $brand-primary;
    border-radius: 0px;
  }

  .disabled {
    border-bottom: 3px solid $white;
    border-radius: 0px;
    color: #9b9b9b;
  }
}

.action-buttons {
  display: flex;

  button {
    text-transform: capitalize;
    outline: none;
    font-size: 15px;
  }

  .cancel-button {
    color: $brand-primary;
    text-decoration: underline;
    letter-spacing: 0.8px;
    border-width: 0px;
    &:hover {
      background-color: transparent;
    }
    .MuiButton-label {
      text-align: left;
    }
  }

  .post-button {
    color: $white;
    border-radius: 0px;
    padding: 8px 20px;
    margin-left: 25px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
  }

  .disabled {
    border-color: $gray-light;
  }
}

.MuiDialog-paper-7 {
  min-height: 790px;
}