@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.loading-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  margin: auto;

  &.show {
    display: flex;
  }

  .ampled-logo {
    width: 150px;
    opacity: .5;
  }
}

.eq-logo {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 30px;
  margin-top: 1rem;

  &__bar {
    display: inline-block;
    width: 6px;
    margin: 0;
    padding: 0;
    transition: .5s;
    animation: equalize 4s 0s infinite;
    animation-timing-function: linear;
    vertical-align: top;
    background: $black;
    margin-right: 4px;

    &:nth-child(1) {
      height: 30px;
      transition: 0.5s;
      animation-delay: -1.9s;
    }

    &:nth-child(2) {
      height: 38px;
      animation-delay: -2.1s;
    }

    &:nth-child(3) {
      height: 34px;
      animation-delay: -3.2s;
    }

    &:nth-child(4) {
      height: 26px;
      animation-delay: -4.9s;
    }

    &:nth-child(5) {
      height: 26px;
      animation-delay: -1.3s;
    }

    &:nth-child(6) {
      height: 26px;
      animation-delay: -4.0s;
    }

    &:nth-child(7) {
      height: 26px;
      animation-delay: -5.2s;
    }

    &:nth-child(8) {
      height: 26px;
      animation-delay: -1.5s;
    }
  }
}

@keyframes equalize {
  0% {
    height: 38px;
  }

  4% {
    height: 32px;
  }

  8% {
    height: 30px;
  }

  12% {
    height: 20px;
  }

  16% {
    height: 10px;
  }

  20% {
    height: 20px;
  }

  24% {
    height: 30px;
  }

  28% {
    height: 1px;
  }

  32% {
    height: 30px;
  }

  36% {
    height: 38px;
  }

  40% {
    height: 10px;
  }

  44% {
    height: 30px;
  }

  48% {
    height: 38px;
  }

  52% {
    height: 20px;
  }

  56% {
    height: 5px;
  }

  60% {
    height: 20px;
  }

  64% {
    height: 38px;
  }

  68% {
    height: 20px;
  }

  72% {
    height: 38px;
  }

  76% {
    height: 10px;
  }

  80% {
    height: 38px;
  }

  84% {
    height: 28px;
  }

  88% {
    height: 38px;
  }

  92% {
    height: 10px;
  }

  96% {
    height: 38px;
  }

  100% {
    height: 38px;
  }
}
