@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';
@import '../../theme/global.scss';

.home-section {
  overflow: hidden;
  margin-top: 50px;

  h1 {
    font-size: 1.8rem;

    @include mq($desktop) {
      font-size: 2.5rem;
    }
  }
}

.home-header {
  &__support {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
    text-align: center;

    @include mq($desktop) {
      text-align: left;
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  &__info {
    font-family: $font-family-monospace;
    text-align: center;

    @include mq($desktop) {
      text-align: left;
    }
  }

  &__image {
    width: 100%;
    display: block;
    position: relative;

    @include mq($desktop) {
      left: -15%;
      width: 115%;
      min-width: 800px;
    }
  }

  &__button {
    background-color: $white;
    margin: 2rem auto;
    color: $black;

    @include mq($desktop) {
      margin: 2rem 0;
    }
  }

  &__cta {
    display: block;
    @include mq($desktop) {
      display: inline-block;
    }
    position: relative;
    width: 100%;
    max-width: 350px;
    text-transform: uppercase;
    font-family: $font-family-monospace;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 2rem;

    &_link {
      display: block;
      position: relative;
      color: $black;
      margin: 0 auto 2rem;
      cursor: pointer;
      z-index: 50;
      text-decoration: underline;
      transition: color $speed;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

.home-for {
  border-top: 10px solid $black;
  padding-bottom: 2rem;
  background-color: $white;

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
  }

  &__mission {
    font-family: $font-family-monospace;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 1rem auto;

    @include mq($tablet) {
      margin: 2rem auto;
      width: 50%;
    }
  }

  &__image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
  }

  &__sub-title {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
  }

  &__copy {
    font-family: $font-family-monospace;
    text-align: center;

    @include mq($tablet) {
      min-height: 80px;
    }
  }
}

.home-how {
  background-color: $black;
  color: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;

  @include mq($tablet) {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 2rem;
    position: relative;
    z-index: 10;
  }

  &__list {
    border: 2px solid $white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mq($tablet) {
      padding: 3rem;
    }
  }

  .section {
    .active {
      .home-how__number {
        background: $white;
        color: $black;
      }

      .home-how__title,
      .home-how__copy,
      .home-how__image {
        opacity: 1;
      }
    }
  }

  &__numbers {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    width: 50%;
    order: 1;

    @include mq($tablet) {
      width: 7%;
      flex-direction: column;
      margin-bottom: 0rem;
      margin-right: 2rem;
    }

    .section {
      height: auto;

      @include mq($tablet) {
        height: 160px;
      }

      &_3 {
        height: auto;
      }
    }
  }

  &__number {
    background-color: $black;
    color: $white;
    text-align: center;
    border: 2px solid $white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-monospace;
    transition: all $speed;
    font-size: 1rem;

    @include mq($tablet) {
      height: 70px;
      width: 70px;
      font-size: 2rem;
      margin: auto;

      &:after {
        content: '';
        display: block;
        position: relative;
        left: -20px;
        top: 80px;
        width: 2px;
        height: 90px;
        background-color: $white;
      }
    }

    &.no-tail {
      &:after {
        height: 0px;
      }
    }
  }

  &__info {
    width: 100%;
    min-height: 160px;
    order: 3;

    @include mq($tablet) {
      width: 54%;
      order: 2;
    }

    .section {
      height: 160px;
      width: 85%;
      position: absolute;

      @include mq($tablet) {
        height: 160px;
        width: 100%;
        position: relative;
      }

      &_3 {
        height: auto;
      }
    }
  }

  &__images {
    width: 50%;
    order: 2;

    @include mq($tablet) {
      width: 29%;
      order: 3;
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity $speed;

    &.speaker {
      width: 40%;
      transform: translate(70px, -60px);
    }

    &.crowd {
      width: 60%;
      transform: translate(20px, -60px) rotate(5deg);
    }

    &.money {
      width: 50%;
      transform: translate(50px, -70px);
    }

    @include mq($tablet) {
      &.speaker {
        width: 460px;
        transform: translate(0px, 0px);
      }

      &.crowd {
        width: 790px;
        transform: translate(-280px, 20px) rotate(-5deg);
      }

      &.money {
        width: 560px;
        transform: translate(-90px, -60px);
      }
    }
  }

  &__title {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 5;
    opacity: 0;

    @include mq($tablet) {
      opacity: 1;
    }
  }

  &__copy {
    font-size: 1rem;
    position: relative;
    z-index: 5;
    opacity: 0;
    font-family: $font-family-monospace;

    @include mq($tablet) {
      opacity: 1;
    }
  }
}

.home-artists {
  padding: 0 0 2rem;

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 2rem;
  }

  &__item {
    margin-bottom: 2rem;
    position: relative;

    a {
      text-decoration: none !important;

      &:hover {
        .home-artists__item_image {
          opacity: 0.75;
          transition: all $speed;
        }
      }
    }

    &_border {
      border: 2px solid $black;
      width: calc(100% - 30px);
      height: 100%;
      position: absolute;
      border-width: 2px;
      border-style: solid;
      margin: -2px 0px;
      top: 0;
      z-index: 5;
    }

    &_title {
      font-family: $font-family-monospace;
      color: white;
      background-color: $black;
      display: inline;
      padding: 5px 10px;
      position: absolute;
      left: 1.5rem;
      top: 0.5rem;
      z-index: 10;
    }

    &_image {
      width: 100%;
      position: relative;

      &_hover {
        width: 100%;
        position: relative;
        opacity: 1;
      }
    }

    &:nth-child(1n) {
      .home-artists__item_image_hover {
        transform: translate(3px, -6px);
      }
    }

    &:nth-child(2n) {
      .home-artists__item_image_hover {
        transform: translate(-5px, -10px);
      }
    }

    &:nth-child(3n) {
      .home-artists__item_image_hover {
        transform: translate(4px, 7px);
      }
    }

    &:nth-child(4n) {
      .home-artists__item_image_hover {
        transform: translate(8px, -3px);
      }
    }

    &:nth-child(5n) {
      .home-artists__item_image_hover {
        transform: translate(-5px, -8px);
      }
    }

    &:nth-child(6n) {
      .home-artists__item_image_hover {
        transform: translate(9px, -2px);
      }
    }
  }

  &__featured {
    margin-bottom: 2rem;

    &_border {
      border: 2px solid $black;
      width: 90%;
      height: 90%;
      position: absolute;
      border-width: 2px;
      border-style: solid;
      margin: -2px 0px;
      top: 5%;
      left: 5%;
      z-index: 5;
    }

    &_title {
      font-family: $font-family-monospace;
      color: white;
      background-color: $black;
      display: inline;
      padding: 5px 10px;
      position: absolute;
      right: 0px;
      top: 10%;
      z-index: 10;
    }

    &_image {
      width: 100%;
      position: relative;
    }

    &_info {
      font-family: $font-family-monospace;
      font-size: 0.9rem;
      line-height: 1.9rem;
      margin: 1rem auto 2rem;
    }

    &_link {
      font-family: $font-family-monospace;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: underline;
      color: $black;
      transition: color $speed;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

.home-membership {
  padding: 2rem;
  font-family: $font-family-monospace;
  text-align: center;

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
  }

  &__button {
    margin: 2rem auto;
  }
}
