@import "../../theme/vars.scss";
@import "../../theme/mixins.scss";
@import "../../theme/global.scss";


.home-section {
  overflow: hidden;
}

.home-header {
  &__support {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    font-family: $font-family-sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 2rem 0;
  }

  &__info {
    font-family: $font-family-monospace;
  }

  &__image {
    width: 100%;
    display: block;
    position: relative;
    @include mq($desktop) {
      left: -15%; 
      width: 115%;
      min-width: 800px;
    }
  }

  &__button {
    background-color: $white;
    margin: 2rem 0;
    color: $black;
  }
}

.home-for {
  border-top: 10px solid $black;

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
  }

  &__mission {
    font-family: $font-family-monospace;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
   
    @include mq($desktop) {
      margin: 2rem auto;
      width: 50%;
    }
  }

  &__image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
  }

  &__sub-title {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
  }

  &__copy {
    font-family: $font-family-monospace;
    text-align: center;

    @include mq($desktop) {
      min-height: 110px;
    }
  }
}

.home-how {
  background-color: $gray-dark;
  color: $white;
  position: relative;
  overflow: hidden;

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
  }

  &__list {
    border: 2px solid $white;
    padding: 3rem;
  }

  &__list-item {
    margin-bottom: 1rem;

    &:hover {
      .home-how__list-item_number {
        background-color: $white;
        color: $black;
        transition: .25s all ease-in-out;
      }
    }

    &_image {
      position: absolute;
      z-index: 1;
      img {
        opacity: 0;
        transition: opacity $speed;
      }
      @include mq($desktop) {
        &.crowd {
          img {
            width: 790px;
            transform: translate(380px, -110px) rotate(-5deg);
          }
          .show {
            opacity: 1;
          }
        }
        &.money {
          img {
            width: 560px;
            transform: translate(480px, -460px);
          }
          .show {
            opacity: 1;
          }
        }
        &.speaker {
          img {
            width: 460px;
            transform: translate(630px, -30px);
          }
          .show {
            opacity: 1;
          }
        }
      }
    }

    &_number {
      background-color: $gray-dark;
      color: $white;
      text-align: center;
      border: 2px solid $white;
      border-radius: 100%;
      height: 70px;
      width: 70px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-family-monospace;
      font-size: 2rem;
      transition: all $speed;

      @include mq($desktop) {
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 70px;
          width: 2px;
          height: 80%;
          background-color: $white;
        }
      }
      &.no-tail {
        &:after {
          height: 0px;
        }
      }
    }

    &_title {
      font-family: $font-family-sans-serif;
      font-size: 1.5rem;
      line-height: 1.7rem;
      margin-bottom: 1rem;
      position: relative;
      z-index: 5;
    }

    &_copy {
      font-family: $font-family-monospace;
      font-size: 1rem;
      position: relative;
      z-index: 5;
    }
  }
}

.home-artists {
  padding: 2rem;
  background-color: $white;

  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
  }

  &__item {
    margin-bottom: 2rem;

    &_border {
      height: 300px;
      padding: 1rem;
      border: 3px solid $black;
      position: relative;
      z-index: 2;
    }
    &_title {
      font-family: 'Courier New', Courier, monospace;
      color: white;
      background-color: $black;
      display: inline;
      padding: 5px 10px;
      position: relative;
      z-index: 2;
    }
    &_image {
      width: 100%;
      position: relative;
      z-index: -1;
    }

    &:nth-child(1) {
      .home-artists__item_image {
        transform: translate(-10px, -60px);
      }
    }
    &:nth-child(2) {
      .home-artists__item_image {
        transform: translate(5px, -40px);
      }
    }
    &:nth-child(3) {
      .home-artists__item_image {
        transform: translate(10px,-50px);
      }
    }
    &:nth-child(4) {
      .home-artists__item_image {
        transform: translate(20px,10px);
      }
    }
    &:nth-child(5) {
      .home-artists__item_image {
        transform: translate(-5px,-10px);
      }
    }
    &:nth-child(6) {
      .home-artists__item_image {
        transform: translate(10px,-60px);
      }
    }
  }
}

.home-membership {
  padding: 2rem;
  font-family: $font-family-monospace;
  text-align: center;
  h1 {
    font-family: $font-family-sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem auto;
  }
  &__button {
    margin: 2rem auto;
  }
}

.tear {
  width: 100%;
  position: relative;

  &.tear_1 {
    bottom: -30px;
    margin-top: -30px;
  }

  &.tear_2 {
    background-color: $white; 
    margin-bottom: -70px;
  }
}
