@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';

.metrics {
  font-family: $font-family-monospace;
  font-size: $font-size-lg;
  text-align: center;
  background-color: $white;
  padding: 1rem;
  margin: 50px auto 0;
  @include mq($layout-m) {
    padding: 2rem 5rem;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
  }

  h1 {
    font-family: $font-family-sans-serif;
    font-size: $font-size-h1;
    text-transform: uppercase;
    font-weight: bold;
  }
}
