@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';

.artist-dashboard {
  display: flex;

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-right: 1px solid $black;
  }
  &__data {
    width: 100%;
  }
}
