.Counter {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.3; }

.Counter__button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  background-color: #61dafb;
  border: none;
  border-bottom: 2px solid #0596be;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 20px auto;
  width: 100px; }
  .Counter__button:hover {
    background-color: #7ae0fc; }
  .Counter__button:active {
    background-color: #fff; }
