@import "../theme/colors.scss";
@import "../theme/typography.scss";

.Counter {
  @include body-text;
}

.Counter__button {
  @include body-text;

  align-items: center;
  background-color: $blue;
  border: none;
  border-bottom: 2px solid $blue-darker;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 20px auto;
  width: 100px;

  &:hover {
    background-color: $blue-lighter;
  }

  &:active {
    background-color: $white;
  }
}
