@import '../../../../theme/vars.scss';
@import '../../../../theme/mixins.scss';

.post-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white;
  height: 100vh;
  padding: 1rem;

  @include mq($tablet) {
    height: auto;
  }

  &__controls {
    display: flex;
    margin: 0 -0.5rem 1rem;
    button {
      border: 0px solid $black;
      margin: 0 0.5rem;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      &.active {
        border-width: 1px;
        opacity: 1;
      }
      span {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__description {
    margin: 0.5rem auto;
    .rich-editor-container {
      position: relative;

      .rich-editor {
        border: 1px solid $gray-lighter;
        height: 200px;
        max-height: 200px;
        font-family: LL Replica Light Web, sans-serif;
        border-radius: 0px;
        display: block;
        overflow: auto;
        padding: 10px;

        &:hover {
          border: 1px solid $black;
        }
        &.focused {
          border: 1px solid $black;
          font-family: LL Replica Light Web, sans-serif;
        }
      }
    }

    .rich-controls {
      height: 30px;
      line-height: 28px;
      font-family: $font-family-monospace;
      text-align: left;
      position: absolute;
      bottom: -2px;
      right: 0;
      z-index: 10;

      button,
      span[role='button'] {
        background: white;
        border: 1px solid $gray-lighter;
        width: 28px;
        height: 28px;
        display: inline-block;
        text-align: center;
        cursor: pointer;

        &:hover {
          border: 1px solid $black;
        }

        &.active {
          background: $black;
          color: white;
        }
      }
    }
  }

  &__container {
    @include mq(0, $tablet) {
      .tear {
        display: none;
      }
    }
  }

  &__checkboxes {
    font-family: $font-family-monospace;
    font-weight: bold;
    margin-bottom: 1rem;

    input[type='checkbox'] {
      width: 15px;
      margin-right: 0.5rem;
    }
  }

  &__image {
    min-height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .uploader {
      margin: 0 0 1rem !important;
    }

    .post-image {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 1rem;

      .preview {
        font-size: 0.8rem;
        margin-right: 1rem;

        &__image {
          width: 40px;
          margin-right: 1rem;
        }
      }
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  &__actions {
    display: flex;
    width: 100%;
    button {
      border: 1px solid $black;
      &.cancel-button {
        width: auto;
        margin-right: 1rem;
      }
      &.publish-button:not(.disabled) {
        color: $white;
        background-color: $black;
      }
    }
  }

  .file-actions {
    font-family: $font-family-monospace;
    color: $brand-primary;
    font-size: 0.8rem;
    display: flex;
    align-content: center;

    &[data-progress] {
      display: none;
    }

    &[data-progress='100'] {
      display: inherit;
    }

    .remove-button {
      text-decoration: underline;
      cursor: pointer;
      margin-right: 1rem;
      align-self: center;

      &:hover {
        text-decoration: none;
      }
    }

    label {
      align-self: center;
      margin: 0;
    }

    .replace-button {
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .helper-text {
    font-style: italic;
    float: right;
    color: $gray-light;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    font-family: $font-family-monospace;
    position: relative;

    .additional {
      position: absolute;
      background: white;
      border: 1px solid $gray-light;
      z-index: 999;
      line-height: 20px;
      padding: 8px;
      width: 250px;
      right: 0px;
      top: -100px;
    }
  }

  .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    align-items: center;

    label {
      margin: 0px;
    }

    .progress-container {
      width: 100%;
    }

    .progress-info {
      display: flex;
      font-family: $font-family-monospace;
      font-size: 13px;
      justify-content: space-between;

      &[data-progress] {
        display: none;
      }

      &[data-progress='100'] {
        display: flex;
      }

      &__name {
        display: flex;
        justify-content: center;
        align-items: center;

        &_mp3 {
          width: 40px;
          height: 40px;
          background-color: $brand-primary;
          color: $white;
          line-height: 40px;
          text-transform: uppercase;
          margin-right: 1rem;
        }

        &_song {
          max-width: 220px;
        }
      }
    }

    .progress-bar[aria-valuenow='100'],
    .progress-info__progress[data-progress='100'],
    .progress-bar__upload[data-progress='100'],
    .progress-bar__progress[data-progress='100'] {
      display: none;
    }

    .progress-bar__container {
      display: block;
      position: relative;
      width: 100%;
    }

    .progress-bar__upload {
      font-family: $font-family-monospace;
      font-size: 0.8rem;
      text-align: left;
    }

    .progress-bar__progress {
      position: absolute;
      left: -0px;
      transition: width 0.4s linear;

      span {
        position: absolute;
        font-size: 0.8rem;
        background-color: $white;
        border-radius: 3px;
        padding: 2px 3px;
        z-index: 10;
        right: -23px;
        top: -20px;
        width: 50px;
        box-shadow: 1px 1px 3px $black;

        &:after {
          content: '';
          width: 8px;
          height: 8px;
          background-color: $white;
          position: absolute;
          display: block;
          right: 20px;
          bottom: -4px;
          transform: rotate(45deg);
          box-shadow: 1px 1px 3px $black;
          z-index: -1;
        }

        &:before {
          content: '';
          width: 20px;
          height: 5px;
          background-color: $white;
          position: absolute;
          display: block;
          right: 10px;
          bottom: 0px;
        }
      }
    }

    .upload-error {
      color: $brand-danger;

      h5 {
        padding-top: 20px;
      }
    }

    .upload-button {
      outline: none;
      background-color: $brand-primary;
      color: $white;
      border-radius: 0px;
      width: 150px;
      letter-spacing: 0.7px;
      text-transform: capitalize;
      margin-top: 10px;
      margin-right: 10px;
      box-shadow: none;
    }
  }

  .uploader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    label {
      width: 100%;
    }

    .loading-icon {
      margin-bottom: 15px;
      width: 25px;
      height: 25px;
    }

    .btn__icon {
      margin-right: 0.5rem;
    }

    button {
      text-transform: capitalize;
      border: 1px solid $black;
      background-color: $white;
      border-radius: 0px;
      margin: 0 auto;
      padding: 10px 15px;
      outline: none;
      max-width: 335px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &.cancel-button {
        position: absolute;
        z-index: 10;
        top: -1px;
        right: 0;

        &:hover {
          background-color: $gray-lightest;
        }
        svg {
          color: $black;
          fill: $black;
        }
      }
    }
  }

  .form-bottom {
    font-family: $font-family-monospace;

    .make-public-label {
      margin-right: auto;
      margin-left: 0;

      input {
        margin-right: 0.5rem;
      }
    }
  }
}
