@import "../../../../theme/vars.scss";
@import "../../../../theme/mixins.scss";

.post-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white;

  &__checkboxes {
    font-family: $font-family-monospace;
    font-weight: bold;
    margin-bottom: 1rem;

    input[type="checkbox"] {
      width: 15px;
      margin-right: .5rem;
    }
  }

  &__image {
    min-height: 50px;

    .post-image {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 1rem;

      .preview {
        font-size: .8rem;

        &__image {
          width: 30px;
          margin-right: .5rem;
        }
      }
    }
  }

  .file-actions {
    font-family: $font-family-monospace;
    color: $brand-primary;
    font-size: .8rem;
    display: flex;
    align-content: center;

    &[data-progress] {
      display: none;
    }
    &[data-progress="100"] {
      display: inherit;
    }
    
    .remove-button {
      text-decoration: underline;
      cursor: pointer;
      margin-right: 1rem;
      align-self: center;
      &:hover {
        text-decoration: none;
      }
    }
    label {
      align-self: center;
      margin: 0;
    }
    .replace-button {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;

    label {
      text-align: left;
      margin: 0px;
    }
    .progress-container {
      width: 100%;
    }
    .progress-info {
      display: flex;
      font-family: $font-family-monospace;
      font-size: 13px;
      justify-content: space-between;

      &__progress {
      }
      &__name {
      }
    }
    .progress-bar[aria-valuenow="100"],
    .progress-info__progress[data-progress="100"] {
      display: none;
    }

    .upload-error {
      color: $brand-danger;
      h5 {
        padding-top: 20px;
      }
    }

    .upload-button {
      outline: none;
      background-color: $brand-primary;
      color: $white;
      border-radius: 0px;
      width: 150px;
      letter-spacing: 0.7px;
      text-transform: capitalize;
      margin-top: 10px;
      margin-right: 10px;
      box-shadow: none;
    }
  }

  .uploader {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      width: 100%;
    }

    .loading-icon {
      margin-bottom: 15px;
      width: 25px;
      height: 25px;
    }
    .audio-button,
    .image-button {
      text-transform: capitalize;
      min-height: 55px;
      border: 1px solid $black;
      background-color: $white;
      border-radius: 0px;
      text-transform: capitalize;
      margin: 0 auto 15px auto;
      padding: 0 15px;
      outline: none;
      &:hover {
        color: $white;
        background-color: $black;
      }
      .finished-button {
        border: 1px solid $black;
        color: $black;
        .MuiButton-label {
          color: $black;
        }
        &.disabled {
          border: 1px solid $gray-light;
          color: $gray-light;
        }
      }
    }
  }

  .form-bottom {
    font-family: $font-family-monospace;

    .make-public-label {
      margin-right: auto;
      margin-left: 0;

      input {
        margin-right: 0.5rem;
      }
    }
  }
}
