@import "../../../../theme/vars.scss";
@import "../../../../theme/mixins.scss";

.post-form {
  display: flex;
  flex-direction: column;
  text-align: center;



  &__instructions {

  }





  .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      text-align: left;
    }

    .progress-info {
      display: flex;
      font-family: $font-family-monospace;
      font-size: 13px;
      justify-content: space-between;
    }

    .upload-error {
      color: $brand-danger;
      h5 {
        padding-top: 20px;
      }
    }

    .upload-button {
      outline: none;
      background-color: $brand-primary;
      color: $white;
      border-radius: 0px;
      width: 150px;
      letter-spacing: 0.7px;
      text-transform: capitalize;
      margin-top: 10px;
      margin-right: 10px;
      box-shadow: none;
    }
  }

  .uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    label {
      width: 100%;
    }

    .loading-icon {
      margin-bottom: 15px;
      width: 25px;
      height: 25px;
    }
    .audio-button,
    .image-button {
      &:hover {
        color: $white;
        background-color: black;
      }
    }
  }

  .post-info {
    display: flex;
    justify-content: space-between;

    .uploader {
      width: 190px;
      height: 190px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: url(../../../../images/post_image.svg) no-repeat;

    }

    .post-image {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 190px;
      height: 190px;

      .preview {
        max-width: 190px;
        max-height: 190px;
        margin-bottom: 10px;
      }

      .image-actions {
        display: flex;
        justify-content: space-between;

        span {
          display: flex;
          border: 1px solid $brand-primary;
          cursor: pointer;
          width: 25px;
          height: 25px;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }

        label {
          cursor: pointer;
          z-index: 2;
        }

        .action-icon {
          width: 15px;
          height: 15px;
        }
      }
    }

    .image-button {
      background-color: $white;
      border: 1px solid $black;
      border-radius: 0px;
      text-transform: capitalize;
      margin: 0 auto 15px auto;
      padding: 0 15px;
      outline: none;
    }

    .post-description {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      margin-left: 20px;
      max-width: 375px;
    }
  }

  .form-bottom {
    font-family: $font-family-monospace;

    .make-public-label {
      margin-right: auto;
      margin-left: 0;

      input {
        margin-right: 0.5rem;
      }
    }
  }
}
