@import '../../../../theme/vars.scss';
@import '../../../../theme/mixins.scss';

.comment {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;

    &_name {
      font-family: $font-family-sans-serif;
    }
    &_date {
      font-family: $font-family-monospace;
      color: $gray-light;
      font-size: 12px;
      align-self: flex-end;
      text-transform: capitalize;
    }
  }

  &__copy {
    font-family: $font-family-monospace;
    font-size: 13px;
    margin: 10px 0px 15px;
    white-space: pre-wrap;
    margin-right: 20px;
    overflow-wrap: break-word;
  }
  &__delete {
    position: absolute;
    right: 14px;
    margin-top: 23px;
    opacity: 0.4;
    transition: opacity $speed;
    width: 30px;
    height: 30px;
    &:hover {
      opacity: 1;
    }

    svg {
      width: 15px !important;
    }
  }
}
