body {
    margin-bottom: 50px;
}
.container {
    max-width: 1140px;
}
a {
    &:hover {
        text-decoration: none;
    }
}

.btn {
    border-radius: 0px;
    border: 2px solid $black;
    background-color: $white;
    color: $black;
    font-family: $font-family-monospace;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 350px;
    margin: auto;
    display: block;

    &:hover {
        background-color: $black;
        color: $white;
        text-decoration: none;
        transition: all $speed;
    }

    &__dark {
        border: 0px;
        background-color: $black;
        color: $white;
        &:hover {
            background-color: $white;
            color: $black;
            transition: all $speed;
        }
    }

    .btn-support {
        border-radius: 0px;
        text-transform: uppercase;
        background-color: yellow;
        color: $white;
        font-family: $font-family-monospace;
        max-width: 250px;
        display: none;
        @include mq( $layout-m ) {
            display: block;
        }
    }
}

.link {
    color: $gray-light;
    &:hover {
        color: $black;
    }
    &__why {
        text-align: center;
        display: block;
        margin-top: .75rem;
        font-family: $font-family-base;
        font-size: .9rem;
    }
}

.bg-texture {
    background-image: url('../../images/background_texture.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    &__bottom {
        background-position: left 0 bottom -100%;
    }
    &__top {
        background-position: left 0 top -50%;
    }
    &__flip {
        background-image: url('../../images/background_texture_flip.png');
    }
    &__absolute {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100vh;
        &_25 {
            z-index: 0;
            width: 100%;
            height: 100vh;
            position: absolute;
            transform: translateY(-25%);
        }
        &_50 {
            z-index: 0;
            width: 100%;
            height: 100vh;
            position: absolute;
            transform: translateY(-50%);
        }
    }
}

.hr {
    &__thick {
        height: 10px;
        background: black;
        width: 50%;
        @include mq($tablet) {
            width: 350px;
        }
    }
}

.loading {
    display: block;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}
.center {
    text-align: center;
    display: block;
    margin: auto;
}

.confetti-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;
    width: 50%;
}