$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;

@mixin body-text {
  font-family: $font-sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

@mixin headline-text {
  font-family: $font-sans-serif;
  font-size: 24px;
  line-height: 1.1;
}
