---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_FfMNyx9ktbGwnx
    body:
      encoding: UTF-8
      string: source=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_3RnBGRLSL1zbZa2ryzt82tjI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-02-11'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FfMNyx9ktbGwnx",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1566424043,
          "currency": null,
          "default_source": "card_1G3BoFCNj1cfz4PUUYYI0tqv",
          "delinquent": false,
          "description": "ryanproject@gmail.com",
          "discount": null,
          "email": null,
          "invoice_prefix": "ABC864BF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1G3BoFCNj1cfz4PUUYYI0tqv",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_FfMNyx9ktbGwnx",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2021,
                "fingerprint": "E6Pd3bfp00SpSfRI",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FfMNyx9ktbGwnx/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FfMNyx9ktbGwnx/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FfMNyx9ktbGwnx/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Tue, 21 Jan 2020 01:45:40 GMT
recorded_with: VCR 4.0.0
