@import '../../../theme/vars.scss';
@import '../../../theme/mixins.scss';

.menu {
  .menu-icon {
    cursor: pointer;
    padding: 22px 0;
    width: 38px;
  }

  .menu-list {
    border-radius: 0;
    margin-right: 15px;
    width: 300px;

    .menu-items {
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;

      .icon {
        margin-right: 0.5rem;
      }

      a,
      button {
        padding: 1rem;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.87);
        width: calc(100% - 2rem);
        height: 24px;
        overflow: hidden;
        font-size: 1rem;
        box-sizing: content-box;
        font-weight: 400;
        line-height: 1.5em;
        text-align: left;
        white-space: nowrap;
        font-family: Courier, 'Courier New', monospace !important;
        display: flex;
        align-items: center;
      }

      a:hover,
      button:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }

  a {
    color: $black;
  }

  a:hover {
    text-decoration: none;
  }

  .divider {
    border-bottom: 7px solid $black;
    margin: 25px auto 15px auto;
    width: 90%;
    text-align: center;
  }
}
