@import '../../../theme/vars.scss';
@import '../../../theme/mixins.scss';

.checkout-form-container {
  font-family: $font-family-base;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .form-row {
      margin-top: 1rem;
    }
    label {
      font-size: 0.8rem;
      text-align: left;
    }
  }

  .card {
    border: 1px solid $gray-light;
    box-shadow: none;
    min-height: 180px;
    &-empty {
      justify-content: center;
    }
    &-header {
      background-color: $white;
      border-color: $gray-light;
      font-family: $font-family-sans-serif;
      font-size: 0.9rem;
      &__icon {
        margin-right: 0.5rem;
      }
    }
    h6 {
      font-family: $font-family-sans-serif;
      color: $black;
    }
  }
  .edit-card {
    display: inline-block;
    margin: 0 auto 1rem;
    color: $black;
    text-decoration: underline;
    font-family: $font-family-monospace;
    font-size: 0.8rem;
  }

  .transparency {
    font-family: $font-family-monospace;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 812px) {
  .checkout-form-container {
    form {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
