@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.checkout-form-container {
  font-family: $font-family-base;

  form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-bottom: 1rem;

    label {
      margin-top: 1rem;
    }
  }
  
  .actions {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    .btn:first-child {
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 812px) {
  .checkout-form-container {
    form {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
