.checkout-form-container {
  font-family: 'Courier New', Courier, monospace;

  form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 2rem;
    margin-bottom: 1rem;

    label {
      margin-top: 1rem;
    }

    .actions {
      margin-top: 3rem;
      display: flex;

      .btn-support-action {
        border-radius: 0px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        max-width: 250px;
        margin-left: 1rem;
        font-weight: 200;
      }

      .btn-support-action:hover {
        background-color: white;
        color: black;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 812px) {
  .checkout-form-container {
    form {
      width: 100%;
    }
  }
}
