@import '../../../theme/vars.scss';
@import '../../../theme/mixins.scss';

.support {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $font-family-monospace;
    margin-bottom: 2rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    font-size: 1.5rem;
    font-family: $font-family-sans-serif;

    @include mq($tablet) {
      margin: 3rem 5rem 0;
    }

    &_support {
      font-size: 1rem;
      font-family: $font-family-monospace;
      text-align: center;
      margin-top: 1rem;
    }

    &_artist-name {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1rem;
    }

    h2 {
      font-weight: bold;
      font-size: 2.5rem;
    }
  }

  &__artist-image {
    width: 280px;
    height: 280px;
    margin-right: 2.5rem;
    object-fit: cover;
    transform: rotate(-3deg);
  }

  &__artists {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: center;
  }

  &__artist-info {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: $font-family-sans-serif;
      font-size: 0.8rem;

      @include mq($tablet) {
        font-size: 1rem;
      }
    }

    &_image {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 2px solid $brand-primary;
      margin-bottom: 0.5rem;

      @include mq($tablet) {
        height: 80px;
        width: 80px;
      }
    }
  }

  &__level-form {
    width: 100%;
    padding: 1rem;
    border-top: 5px solid $brand-primary;
    background-color: $white;
    text-align: center;
    box-shadow: 0 20px 20px 0 rgba(10, 31, 68, 0.1),
      0 0 1px 0 rgba(10, 31, 68, 0.08);

    h3 {
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      font-family: $font-family-sans-serif;
    }
  }

  &__value-description {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: $black;
  }

  &__value-field {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &:before {
      content: '$';
      position: absolute;
      left: 20%;
      margin-bottom: 30px;
      font-size: 1.5rem;
    }
    &:after {
      content: '/Month';
      position: absolute;
      right: 30px;
      font-size: 0.9rem;
    }

    p {
      margin: 0 0.5rem;
    }

    input[type='number'] {
      text-align: center;
      background-color: $white;
      font-size: 3rem;
      border: none;
      border-bottom: 1px solid $gray-light;
      border-radius: 0;
      margin-top: 15px;
      outline: none;
      width: 100%;

      &::placeholder {
        color: $gray-light;
        opacity: 0.6;
      }
    }

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__action {
    margin-top: 2rem;

    button {
      cursor: pointer;
      width: 100%;
      background-color: $brand-primary;
      color: $white;
      min-height: 45px;
      border: 0px;
      transition: all $speed;
    }

    button:hover {
      background-color: lighten($brand-primary, 20%);
    }

    button:disabled {
      background-color: $gray-light;
      opacity: 0.6;
      cursor: not-allowed;
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
