.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0px;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid $black;
    background-color: $white;
    justify-content: flex-start;
}