.post {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 500px;

  .post-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    height: 70px;

    .post-user {
      display: flex;
      align-items: center;

      .user-image {
        margin-right: 10px;
        font-size: 40px;
      }

      span {
        font-size: 18px;
      }
    }

    .post-date {
      font-family: Courier, 'Courier New', monospace;
      color: #aaaaab;
      font-size: 12px !important;
      align-self: flex-end;
    }
  }

  .post-image {
    object-fit: cover;

    max-width: 500px;
    max-height: 350px;
  }

  .post-body {
    padding: 20px;

    h4 {
      margin-bottom: 15px;
      font-size: 20px;
    }

    p {
      font-family: Courier, 'Courier New', monospace;
      font-size: 14px;
    }
  }
}
