.post {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  .post-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    height: 70px;

    .post-user {
      display: flex;
      align-items: center;

      span {
        font-size: 18px;
      }
    }
  }
}

.user-image {
  font-size: 40px;
  margin-right: 10px;
}

.post-date {
  font-family: Courier, 'Courier New', monospace;
  color: #aaaaab;
  font-size: 12px !important;
}

.post-body {
  font-family: Courier, 'Courier New', monospace !important;
  font-size: 14px !important;
  margin-bottom: 0px !important;
}

.post-title {
  display: flex;
  font-family: inherit !important;
  font-size: 18px !important;
  letter-spacing: 0.3px;
  align-self: center;

  span {
    align-self: center;
  }
}
