.post-form {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1em;
    letter-spacing: 0.7px;
    align-self: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .instructions {
    display: flex;
    flex-direction: row;
  }

  .post-info {
    display: flex;
    justify-content: space-between;

    .post-image {
      display: flex;
      align-items: flex-end;
      background: url(../../images/post_image.svg) no-repeat;
      width: 190px;
      height: 190px;

      .image-button {
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 0px;
        text-transform: capitalize;
        margin: 0 auto 15px auto;
        width: 80%;
        padding: 0;
        outline: none;
      }
    }

    .post-description {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      margin-left: 20px;
    }
  }
}
