@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.why-support {

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: $white;

    @include mq($tablet) {
    }
  }

  &__container {
    width: 100%;
    height: 100vh;;

    @include mq($tablet) {
      width: 450px;
      padding: 2rem 1.5rem;
      height: auto;
      margin: auto;
    }

    @include mq(0, $tablet) {
      .tear {
        display: none;
      }
    }
  }

  &__title {
    font-family: $font-family-sans-serif;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__subheader {
    font-weight: bold;
  }

  &__copy {
    font-family: $font-family-monospace;
    margin-bottom: 1.5rem;
  }

  .link__why {
    text-decoration: underline;
  }

  .MuiDialog-paperScrollPaper {
    max-height: 100%;
  }
  .MuiDialog-paper {
    margin: 0px;
  }
}
