@import "../../../theme/vars.scss";
@import "../../../theme/mixins.scss";

.why-support {
  text-align: center;
  padding: 1rem;
  background-color: $white;

  &__title {
    font-family: $font-family-sans-serif;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__subheader {
    font-weight: bold;
  }
  &__copy {
    font-family: $font-family-monospace;
    margin-bottom: 1.5rem;
  }
  
  .link__why {
    text-decoration: underline;
  }
}