---
http_interactions:
- request:
    method: get
    uri: https://vimeo.com/api/v2/video/331608175.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3599'
      X-Ratelimit-Reset:
      - '1579475319'
      Content-Disposition:
      - attachment; filename=vimeo.json
      Last-Modified:
      - Tue, 14 Jan 2020 22:53:35 GMT
      Etag:
      - '"462455bd7cff2f5f915bb2b07a5e5500"'
      X-Vimeo-Dc:
      - ge
    body:
      encoding: ASCII-8BIT
      string: '[{"id":331608175,"title":"BnW Concert | Apple Motion Files","description":"Download
        BnW Concert - https:\/\/1.envato.market\/c\/1301690\/475676\/4415?u=https:\/\/videohive.net\/item\/bnw-concert\/11995841?ref=videogtx
        <br \/>\n<br \/>\n - Replace all pictures - Replace all videos - Retype all
        text! - (preview pictures and videos are not included) - Audio: http:\/\/audiojungle.net\/item\/sport\/11388694
        <br \/>\n<br \/>\n Last Update 6 July 15 Created 6 July 15 Requires Plugins
        No Software Version Apple Motion 5 Resolution 1920x1080 File Size 113mb Tags
        band, banda, concert, crowd, dj, event, grunge, music, rena, rock, sebicheargentino
        <br \/>\n<br \/>\n <br \/>\n<br \/>\n t[...]
[...]
