@import '../../theme/vars.scss';
@import '../../theme/mixins.scss';

.create-artist {
  margin-top: 50px;

  h1 {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin: 2rem auto;
  }

  &__header {
    background-color: #baddac;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    justify-content: space-between;

    &_tear {
      width: 100%;
    }
  }

  .row {
    margin-bottom: 0.5rem;
    @include mq($layout-m) {
      margin-bottom: 2rem;
    }
  }

  h6 {
    font-family: $font-family-monospace;
    color: $gray-light;
  }

  &__subtitle {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    @include mq($layout-m) {
      font-size: 1.3rem;
    }
  }
  &__title {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__info {
    font-family: $font-family-monospace;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .image-upload {
    &__image {
      display: flex;
      height: 200px;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      margin: 1rem;
      padding: 1rem;
      &:nth-child(1) {
        background: $gray-light;
      }
      &:nth-child(2) {
        background: $gray-light;
      }
      &:nth-child(3) {
        background: $gray-light;
      }
      &_polaroid {
        max-width: 130px;
        margin: auto;
        display: block;
      }
    }
  }
}
